[2019-04-24 17:36] anfernee opened #2 "Add license headers"

[2019-04-24 17:37] anfernee opened #3 "Enable basic CI"
- Run unit test
- golint

[2019-04-24 17:38] anfernee opened #4 "Containerize the build"
create a Dockerfile and Makefile target to build the docker image.

[2019-04-24 17:40] anfernee opened #5 "Implementing connection close"
Proxy should be able to close connection properly, either expected or unexpected.

[2019-04-24 21:54] cheftako commented on #4
/assign

[2019-04-24 21:59] #2 closed

[2019-04-24 23:15] anfernee commented on #5
/assign

[2019-05-28 20:38] cheftako commented on #4
/fixed

[2019-05-28 20:38] #4 closed

[2019-05-28 20:41] cheftako opened #15 "Proxy server should load-balance connection requests to all available agents."
Currently the proxy server will send all connection requests to a single agent. While all requests for an established connection should go through the same agent on which it was established, connection requests should be balanced across available agents.

[2019-05-29 22:04] #5 closed

[2019-05-31 00:10] cheftako opened #17 "Transition from dep to gomod"
K8s has transitioned from dep to gomod. It would be good if we did as well.

[2019-05-31 00:11] cheftako opened #18 "Support SSH Tunnels"
Part of our goals here is to allow SSH Tunnels to be removed from the KAS. If we support SSH Tunnels it would allow a smoother migration plan for users of SSH Tunnels.

[2019-05-31 00:14] cheftako opened #19 "Implement official build images for proxy-server and proxy-agent."
Currently we have no process for generating Open Source official builds.
We have promoted gcr.io/google-containers but these are not general OSS official builds.

[2019-05-31 00:17] cheftako opened #20 "Implement a local/non agent option for the proxy server."
Currently the proxy-server attempts for forward all connection requests from the client to the proxy-agent. It would be useful to allow the proxy server to have a setting where it put the traffic on a local ethernet connection directly. This would allow us to firewall of the KAS so it could ONLY connect to the proxy-server(s). Then the relevant proxy-server could place traffic locally for things l

[2019-05-31 00:18] cheftako opened #21 "Make sure proxy-agent reconnects to the proxy-server."
Make sure we handle cases like the proxy-agent coming up before the proxy-server. Also it should reconnect if the connection is broken. We should also have tests for this.

[2019-06-04 22:17] anfernee commented on #21
/assign

[2019-07-08 23:30] #17 closed

[2019-07-09 00:57] cheftako opened #24 "apiserver-network-proxy flags should use kebab-case not camelCase"
Kubernetes standards for command line flags is to use kebab-case note camelCase. As such the agent, client and proxy should all be switched to use kebab-case.

[2019-07-09 23:48] anfernee opened #26 "e2e test with concurrency"

[2019-07-10 04:09] anfernee opened #27 "proxy server should handle idle connection from the client"
when client doesn't send `CloseRequest` to proxy server, due to reasons like reset tunnel or timeout, the proxy server should still recognize it and close the corresponding remote connection.

[2019-07-10 04:17] anfernee opened #28 "Use different verbose log level for different log"
For example, trace log could be `klog.V(4)`.

[2019-07-10 18:49] nckturner commented on #20
I'll work on this issue assuming no one else has started.

[2019-07-10 18:59] nckturner commented on #20
To summarize a conversation with @cheftako offline, the current thinking is that the proxy-server either operates in a forwarding mode where all connection requests go to the proxy agent or in a local mode where everything is placed on a local interface, meaning that in the above example a separate proxy server would be used for etcd traffic.  @cheftako Am I representing your thoughts correctly?

[2019-07-11 16:31] cheftako commented on #20
The idea behind that is that the KAS can NetworkContext routing can send traffic to different network proxy servers. So you can run 1 proxy server for local (eg. master + etcd) traffic and a second proxy server for cluster traffic.

[2019-07-15 18:23] #24 closed

[2019-07-16 18:10] cheftako opened #30 "Allow proxy agent to connect to multiple proxy servers."
Please see https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/1#issuecomment-511925578

We should not need to run 3 proxy agents in each Node for a HA cluster. However we do then want each proxy agent to connect each of the proxy servers.

[2019-07-23 18:02] cheftako commented on #3
/remove-lifecycle stale

[2019-08-29 22:18] cheftako commented on #19
/remove-lifecycle stale

[2019-09-03 20:01] cheftako commented on #21
/remove-lifecycle stale

[2019-10-08 18:56] cheftako commented on #18
/remove-lifecycle stale

[2019-10-08 18:56] cheftako commented on #18
/lifecycle frozen

[2019-10-13 21:03] Sh4d1 commented on #19
@cheftako any docs on how to implement this?

[2019-10-14 07:27] #21 closed

[2019-10-16 21:36] Sh4d1 commented on #19
We could setup build on GCB and push on `k8s.gcr.io`. I have no clue if there is some requirements though

[2019-10-16 21:38] Sh4d1 opened #34 "Support multi arch / fat manifest"
It would be nice to support a multi arch build.
Could get inspiration from https://github.com/kubernetes/node-problem-detector/pull/336

[2019-10-17 19:25] #3 closed

[2019-10-24 19:56] listx commented on #19
Hello @Sh4d1, there is a "let's let K8s subprojects create official images themselves" effort underway here: https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/README.md

There is an umbrella issue tracker for the overall effort here with high-level updates: https://github.com/kubernetes/k8s.io/issues/157#issuecomment-545558520

The #wg-k8s-infra slack channel is the discussion forum for

[2019-10-25 04:11] texascloud opened #36 "Handle requests from the Cluster to the Control Plane"
[In the proposal for this repo](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190226-network-proxy.md), this sentence is present under "Non-Goals":

Any suggestions as to how to extend this to get this behavior?

Thank you

[2019-10-25 05:16] cheftako commented on #15
/remove-lifecycle stale

[2019-10-25 05:17] cheftako commented on #15
/lifecycle frozen

[2019-10-25 05:29] cheftako commented on #36
I believe there are a few things which need to be solved to get this behavior.

Are you planning on using this for all traffic from the Kubelet to the KAS?
If so the agent cannot run as a DaemonSet and the Kubelet will not be a fully functioning Node until after the agent is up and connected. This suggests that the agent will need to be configured as a static pod or even as a systemd service.

The

[2019-10-25 21:56] cheftako commented on #36
Technically true, but that is specifically for handling the dial request which was forwarded to it from the server. To do what you want you need a dial request which goes in the other direction. Instead of

client (KAS) --> proxy server --> proxy agent --> endpoint (?Kubelet/Pod)

you want something like

endpoint (KAS) <-- proxy server <-- proxy agent <-- client (?Kubelet/Pod)

It would probably

[2019-10-28 18:16] CamelCaseNotation commented on #36
What do you mean prior to forwarding the traffic?

Assuming the tunnel is open, a client request to the agent would have to be forwarded no matter what so the KAS can do auth. This would mean there is no need to put auth logic in this repo for this flow:

Does that make sense?

[2019-10-28 23:07] cheftako commented on #36
At some level your choice. For KAS traffic to the cluster we have authentication. Given that the konnectivity server is running on the master node, it in some sense has escalated privileges. So you should consider how you want to secure the traffic which goes through the tunnel. One aspect is you may want to apply a filter such as only letting traffic destined for the KAS through. If your sure tha

[2019-11-07 00:50] cheftako commented on #26
/remove-lifecycle rotten

[2019-11-07 00:50] cheftako commented on #26
/lifecycle frozen

[2019-11-07 18:17] #34 closed

[2019-11-12 21:22] #26 closed

[2019-11-13 22:05] cheftako commented on #30
/remove-lifecycle rotten

[2019-11-13 22:05] cheftako commented on #30
/lifecycle frozen

[2019-11-21 01:21] caesarxuchao commented on #15
I'm not sure if this is true. It seems that the proxy server always sends traffic to the last agent that establishes connection (see [here](https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/8100da112f1cac73fe08562f29d603d89181cd0d/pkg/agent/agentserver/server.go#L207)). If the KAS is making a long running request, and there is a new agent establishes the connection, proxy server will

[2019-11-21 06:25] anfernee commented on #15
all true. I am in the middle of implementing this support, but got distracted on other priorities. I am gonna find some time picking this up in the following couple of weeks. Thanks @caesarxuchao to bring this back to my attention.

[2019-11-25 23:18] cheftako commented on #20
/remove-lifecycle stale

[2019-11-25 23:18] cheftako commented on #20
/lifecycle frozen

[2019-11-25 23:19] cheftako commented on #28
/remove-lifecycle stale

[2019-11-25 23:19] cheftako commented on #28
/lifecycle frozen

[2019-11-25 23:19] cheftako commented on #27
/remove-lifecycle stale

[2019-11-25 23:20] cheftako commented on #27
/lifecycle frozen

[2020-01-22 20:53] Sh4d1 commented on #19
Hmm official builds are set up for staging. Not for releases. I'll close this one
/close

[2020-01-22 20:53] #19 closed

[2020-01-27 21:18] cheftako commented on #36
/remove-lifecycle stal

[2020-01-27 21:19] cheftako commented on #36
/remove-lifecycle stale

[2020-01-31 23:50] caesarxuchao opened #55 "Validation should not ignore errors that's not os.IsNotExist"
We have this pattern many places in the repo:

https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/850364616771cfbca9ca505a49ca4db1be838ef0/cmd/proxy/main.go#L135-L137

We shouldn't ignore other kinds of error.

Walter mentioned that maybe the code is like this because os.Stat returns error if the file is a symlink, which I checked was not the case on my Ubuntu machine. Anyway, even if

[2020-02-04 18:45] caesarxuchao opened #56 "Add CI test to verify that generated files are up-to-date"
Including generated proto files in proto/, generated mocks in proto/agent/mock/.

k/k has similar scripts for this purpose, e.g., [verify-codegen.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/verify-codegen.sh)

[2020-02-11 02:06] Jefftree opened #61 "Clean up go.sum"
We have many versions of a module in our [go.sum](https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/master/go.sum). This file should be trimmed down since this is a very early repository and we should ideally only have one version for each module.

[2020-02-11 02:06] Jefftree commented on #61
/assign

[2020-02-12 02:53] liggitt opened #62 "Use sigs.k8s.io/apiserver-network-proxy/konnectivity-client v0.0.5?"
Now that the client is tagged, should the root go.mod switch to using that version?

[2020-02-12 21:32] Jefftree opened #64 "Include docker build as part of CI"
https://k8s-testgrid.appspot.com/sig-cloud-provider-apiserver-network-proxy#apiserver-network-proxy-push-images

The above tests only runs on the master branch, and we only get failure notifications in hindsight of a PR merge. If a PR could cause the build and push procedure to fail, we should catch that before it is merged. I think we should at least run docker build on all PRs as part of the CI

[2020-02-12 22:12] Jefftree commented on #62
We are planning to keep the version numbers in sync between the root and client code. Since a commit in the root repository tagged v0.0.x contains the code for a v0.0.x client, pointing to the local directory should achieve the same effect as specifying the corresponding version. This also gives us more flexibility as the master branches of the two modules will be able to reference each other with

[2020-02-12 22:18] liggitt commented on #62
it also doesn't work for anyone using `go get` to fetch this module

[2020-02-12 22:19] liggitt commented on #62
Using v0.0.0 and a replace directive effectively makes the root module unsuitable for anyone to depend on. If the intent is to only support the client module as a library, and only support the top-level module as a built binary (e.g. to not support `go get` or use as a library), that's worth calling out

[2020-02-12 22:26] Jefftree commented on #62
ack, I believe this was the intent with creating a separate client library for others to import.

[2020-02-12 22:39] Sh4d1 commented on #64
@Jefftree yep right, I'll try to add the docker build to the prow job tomorrow!

[2020-02-13 02:14] Jefftree opened #66 "Create README for konnectivity-client"
We split the proxy and client code. A README should be added documenting how to use the client in other modules.

[2020-02-13 21:32] #64 closed

[2020-02-18 22:39] caesarxuchao opened #69 "Clean up UDS file before listening"
When the proxy server restarts, if the UDS file already exists, trying to listen on the socket will fail with "bind: address already in use". The server should delete the file if it exists, and then listen to the socket.

cc @Jefftree

[2020-02-18 22:47] Jefftree opened #70 "use of closed network connection"
I'm constantly seeing this message (from the proxy server logs when using http-connect), even when running the proxy server/agent locally:

[code]

It doesn't have any effect on the proxy/data transfer as far as the client is concerned, but seems to be some clean up we may not be doing.

/cc @cheftako
/cc @caesarxuchao

To repro, start 4 processes in the terminal:

It seems to occur in almost ever

[2020-02-19 00:05] caesarxuchao commented on #70
Which component prints the error message?

[2020-02-19 00:07] Jefftree commented on #70
Proxy server. Updated the original message.

[2020-02-21 07:13] Sh4d1 opened #72 "Issue with tag konnectivity-client/v0.0.5"
There seems to be an issue with the tag `konnectivity-client/v0.0.5`. In fact the `_GIT_TAG` given to the prow job building the image is `v20200218-konnectivity-client/v0.0.5-3-gef0d890` which fails the docker build since it's not a valid tag.

If we want to name a tag with the component name as well I guess it should be done in a docker tag way like `konnectivity-client-v0.0.5`.

/cc @Jefftree

[2020-02-21 07:13] Sh4d1 commented on #72
/cc @cheftako

[2020-02-21 22:09] Jefftree commented on #72
Unfortunately we can't change the `konnectivity-client/v0.0.5` tag structure due to it being a requirement to be recognized as a separate go mod. At the same time, docker does not support slashes in their tags.

We can annotate the `v0.0.5` tag and keep `konnectivity-client/v0.0.5` as a lightweight tag. `git describe --tags` (in the cloudbuild) will then ignore the lightweight tag and use `v0.0.5`

[2020-02-21 22:55] Jefftree commented on #72
We'll cut a new release once https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/58 is merged.

[2020-02-25 23:25] Jefftree commented on #69
When does this happen? The socket binding should be automatically removed if the proxy server is shut down. I'm hesitant to just delete to file since it's possible that things were misconfigured, and we're forcefully removing a random file that the user specified.

[2020-02-25 23:27] Jefftree commented on #30
This is fixed with https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/46

/close

[2020-02-25 23:27] #30 closed

[2020-02-25 23:30] Jefftree commented on #18
@cheftako Quick clarification question: This is supporting SSH tunnels via egress selector correct?

SSH tunnels won't go through the proxy server so this seems to be something on the k/k side and not the network proxy side.

[2020-02-26 00:42] Jefftree opened #73 "Document release procedure"
Our release process is a bit different from normal since we have a multi module golang repository. We should document the release procedure for a new version (TAGS) as well as the release image pipeline in k8s.gcr.io

/cc @caesarxuchao

[2020-02-26 00:43] cheftako commented on #69
I believe that at least one of the places (for the http-connect case) which cleans up the UDS file is https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/master/cmd/proxy/main.go#L395 (defer func() {udsListener.Close()}()). For the grpc case I would guess its the GracefulStop result but calling that method seems less bullet proof.

[2020-02-26 00:51] cheftako commented on #18
The idea had been to have the proxy/konnectivity server support SSH Tunnels (at least for a little while).
Not a hard requirement, but the thought was it would allow a couple of things.
One could decouple using the konnectivity server from disabling ssh tunnels for clusters using ssh tunnels.
You could first shift to the konnectivity server but retain ssh tunnels.
As a follow on step you could swi

[2020-02-26 02:02] #62 closed

[2020-02-26 23:25] Jefftree commented on #72
This is fixed with v0.0.6.

/close

[2020-02-26 23:25] #72 closed

[2020-03-02 19:50] Jefftree opened #76 "Network Proxy hangs when large amount of data is transferred"
This was observed with `kubectl cp` on a large binary file. I attempted to run kubectl cp on a 57M file.

To reproduce, start a kubernetes cluster with network proxy enabled

`KUBE_ENABLE_EGRESS_VIA_KONNECTIVITY_SERVICE=true ./cluster/kube-up.sh`

SSH onto the master and try copying the `kubectl` binary to a random pod:

Eg:

[code]

The `konnectivity-server.log` file shows data transferred, but i

[2020-03-03 18:03] caesarxuchao commented on #76
#78 doesn't fix this. The added log shows that the copy stopped after copied ~19MB data, then it stuck at reading from client connection: https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/da0186e6db180d4ff153be228cc7465bfe44425f/pkg/agent/agentserver/tunnel.go#L106

[2020-03-03 18:05] caesarxuchao commented on #76
#78 doesn't fix the "error dialing backend: EOF" error either.

[2020-03-04 05:04] caesarxuchao opened #79 "serveRecvBackend should check if dialResp contains error"
In case of dial failure, agent sets the error: https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/da0186e6db180d4ff153be228cc7465bfe44425f/pkg/agent/agentclient/client.go#L140

But the proxy server never checks for error: https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/da0186e6db180d4ff153be228cc7465bfe44425f/pkg/agent/agentserver/server.go#L425

I haven't thought thro

[2020-03-04 06:09] caesarxuchao opened #80 ""DATA send to client stream error" in httpConnect mode"
I noticed there are many such warning in the log. It's printed here: https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/da0186e6db180d4ff153be228cc7465bfe44425f/pkg/agent/agentserver/server.go#L452

The connection is closed here, after receiving EOF from the client connection: https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/da0186e6db180d4ff153be228cc7465bfe44425f/pkg/

[2020-03-04 06:42] caesarxuchao commented on #80
And I don't see this error in the konnectivity server log in the gprc mode e2e test runs.

[2020-03-04 17:07] caesarxuchao commented on #69
If the proxy server crashes, then no one is going to cleanup the uds file. This happened to me today.

As a side note, we need to check udsListener is nil before call udsListener.Close().

[2020-03-04 18:12] caesarxuchao opened #81 "`kubectl exec` failure with httpConnect mode"
The failure message emitted by the kube-apiserver is: "error dialing backend: EOF".

With instrumentation, it shows it failed at this line: https://github.com/kubernetes/kubernetes/blob/b5b675491b69b5d48bf112a896bc739e500c7275/staging/src/k8s.io/apimachinery/pkg/util/proxy/dial.go#L85

The tls handshake received the "EOF" error.

At this line, the tunnel to the kubelet has already been established

[2020-03-04 18:14] caesarxuchao commented on #80
The full error message is:

W0304 17:31:06.467159       1 server.go:491] <<< DATA send to client stream error: write unix /etc/srv/kubernetes/konnectivity-server/konnectivity-server.socket->@: write: broken pipe

[2020-03-04 18:23] caesarxuchao commented on #80
Another weird thing is that it seems the "close response" got sent to the client correctly after the "data" sent failure:

I0304 17:32:59.871034       1 server.go:484] <<< Received 24 bytes of DATA from agentID 8b5c518c-0c0c-4290-951d-abaa62adb176, connID 24
W0304 17:32:59.871061       1 server.go:491] <<< DATA send to client stream error: write unix /etc/srv/kubernetes/konnectivity-server/konnect

[2020-03-04 18:33] caesarxuchao commented on #80
So the read of the connection stops after reaching EOF:
I0304 17:32:59.829926       1 tunnel.go:139] Forwarding 24 (total 1712) bytes of DATA on tunnel for agentID 8b5c518c-0c0c-4290-951d-abaa62adb176, connID 24
W0304 17:32:59.829958       1 tunnel.go:117] EOF from 10.40.0.5:10250
I0304 17:32:59.829963       1 tunnel.go:142] Stopping transfer to "10.40.0.5:10250", agentID 8b5c518c-0c0c-4290-951d-a

[2020-03-04 22:23] caesarxuchao commented on #81
Captured the proxy server log when this happened:

[code]

[2020-03-04 22:56] caesarxuchao commented on #81
This time I captured logs from both the proxy server and agent:

In the proxy server log:
[code]

In the proxy agent log:
[code]

[2020-03-04 23:38] caesarxuchao commented on #81
I noticed that when `kubectl exec` failed, the first packet proxy server forwarded to the agent is 238 bytes. If it succeeded, it's always 239 bytes.

The first packet is for tls handshake, so perhaps the remote end closes the connection because the packet is malformed.

[2020-03-05 00:43] Jefftree commented on #79
I don't think this is related to any of the k/k test failures so this can be lower priority.

The outcome is that the connection is assumed to be established and client will try to send data. When the error occurs, the agent sends the DIAL_RSP packet back and since we don't check to error on the proxy server side, the tunnel is assumed to be established

https://github.com/kubernetes-sigs/apiserve

[2020-03-05 00:58] caesarxuchao commented on #80
I think this was because in httpConnect mode, the client won't send CLOSE_REQ, so there is no graceful termination. So after the client closes the connection, proxy server either detects the close via reading from the connection or writing to the connection, the logs will show "Received error on connection" and "DATA send to client stream error" respectively.

[2020-03-05 01:11] #81 closed

[2020-03-05 07:22] caesarxuchao opened #84 "Use channel instead of mutex for performance improvement"
We use a [mutex](https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/78/files#diff-dc24e4652f697816b6134d46273de194R41) to protect the backend stream in proxy server.

[Same](https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/d7a881650b1a40ba116082e5baee75b27f37f1b8/pkg/agent/agentclient/stream.go#L139) in the proxy agent.

Need to investigate if there is a more efficient

[2020-03-05 07:23] caesarxuchao opened #85 "Add unit/integration tests to catch issues like #78"

[2020-03-05 07:36] Jefftree opened #86 "[GRPC Mode] Client -> Proxy connections should be closed when finished"
When running in GRPC mode,  client -> proxy UDS connections are not closed after the (client -> proxy server -> agent -> destination) connection is closed. After a `CLOSE_RSP` It seems that we only remove the frontends, but never call close on the underlying GRPC stream between the client and proxy. This causes resource leaks.

Should be an easy fix though.

After just a couple of operations on th

[2020-03-05 17:15] caesarxuchao commented on #86
The fix should be in k/k?

[2020-03-05 17:46] caesarxuchao opened #87 "Rename pkg/agent/agentserver|agentclient to pkg/proxy and pkg/agent"
In "cmd/", we call split the proxy server and agent binaries as "cmd/proxy" and "cmd/agent". We should split the "pkg/" in the similar ways.

[2020-03-05 18:06] caesarxuchao opened #88 "CI for both httpConnect and grpc mode"
Currently our [CI](https://k8s-testgrid.appspot.com/sig-api-machinery-network-proxy#ci-kubernetes-e2e-gci-gce-network-proxy) only supports the grpc mode. We need to figure out a way to continuously test both mdoes.

[2020-03-05 21:42] Jefftree commented on #86
We should be able to close a stream from either end. It'll probably be more convenient to implement this on the server side.

[2020-03-07 00:11] #80 closed

[2020-03-07 00:12] caesarxuchao commented on #70
#80 is a dup of this issue. https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/80#issuecomment-594971589 explained why this happened. This is a red-herring, we need to improve the logging.

[2020-03-09 20:58] Jefftree commented on #88
This has been completed: https://k8s-testgrid.appspot.com/sig-api-machinery-network-proxy#Summary

/close

[2020-03-09 20:58] #88 closed

[2020-03-09 20:59] Jefftree commented on #61
All the modules listed are transitive dependencies from downstream.

/close

[2020-03-09 20:59] #61 closed

[2020-03-10 22:07] caesarxuchao opened #92 "Divide the pkg/server to subdirectories"
E.g., divide it in to frontends and backends, and maybe cut a common connection manager for the backend/frontend manager.

[2020-03-12 20:14] liggitt commented on #76
/reopen

per https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/76#issuecomment-594086871

[2020-03-12 20:49] caesarxuchao commented on #76
Per https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/76#issuecomment-594086871, at first I only fixed the race in pendingDials, that didn't fix the issue. Then I fixed another race in calling Send() method of the GRPC stream, that fixed this issue. Sorry I hadn't updated the comment.

I checked our [CI](https://k8s-testgrid.appspot.com/sig-api-machinery-network-proxy#ci-kubernetes

[2020-03-12 20:49] #76 closed

[2020-03-16 21:22] Jefftree commented on #70
Actually I think this is due to the connection being closed twice in HTTP connect mode.

https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/master/pkg/server/tunnel.go#L100

and

https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/master/pkg/server/server.go#L53

We're attempting to call close on an already closed connection. I'm not sure if this is a bug or expected becau

[2020-03-17 01:04] Jefftree commented on #79
@caesarxuchao I created https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/94 to prevent us from adding an unnecessary frontend if the dial fails.

In GRPC mode, we send the packet back to the client and the client checks whether the error field is nil before sending data.

In HTTP Connect mode, unfortunately we don't have an easy way of signaling dial error because we never send a DI

[2020-03-26 15:41] Sh4d1 opened #95 "Proxy also need to have a separate health port"
We are not running the proxy server in hostNetwork, so we can't have a livenessprobe since the admin port is only listening on localhost

[2020-03-26 16:16] Sh4d1 opened #97 "Panic when no backend are available"
[code]

[2020-03-26 17:14] #97 closed

[2020-04-10 18:43] Jefftree opened #101 "Reuse GRPC tunnel when dialing from the client"
Currently, we create a new grpcTunnel for every client connection to the proxy server (from the same client). This has some performance implications since we could have a lot of concurrent connections all using different tunnels with each tunnel creates only one stream to the proxy server. We should investigate reusing a single tunnel and multiplexing all streams through that instead of creating a

[2020-04-14 20:50] #95 closed

[2020-05-04 13:47] zanetworker opened #103 "Vague errors when running in SA auth mode while the cluster CA cert is set"
**What Happened**
I was testing out service account authentiction with `authentication-audience` and for some reason it was not working (getting connection closed on the clientside). I was using the following flags:

[code]
As I was switching between SA auth mode and certificates, the problem was that the `--cluster-ca-cert` flag was set at the same time as the sa auth flags (auth-audience, agent-

[2020-05-04 21:49] cheftako commented on #56
/remove-lifecycle stale

[2020-05-04 21:50] cheftako commented on #56
/lifecycle frozen

[2020-05-06 18:15] #103 closed

[2020-05-13 23:07] caesarxuchao commented on #86
#93 was a temporary solution. I think @Jefftree is working on a more thorough solution. Let's keep this bug open in the meantime.

[2020-05-19 22:04] #66 closed

[2020-05-27 20:57] Jefftree opened #107 "Dialing multiple times on singleUseGRPCTunnel causes race conditions"
Although it is documented that singleUseGRPCTunnels should only be used once, it is technically still possible to to call the Dial function multiple times. This causes certain race conditions and goroutine leaks.

[2020-06-02 17:56] cheftako commented on #69
/remove-lifecycle stale

[2020-06-02 17:56] cheftako commented on #69
/remove-lifecycle frozen

[2020-06-02 17:57] cheftako commented on #69
/lifecycle frozen

[2020-06-02 18:15] Jefftree commented on #69
I encountered this quite often while simulating error conditions. Will send out a fix

/assign

[2020-06-03 18:59] #87 closed

[2020-06-09 00:14] cheftako commented on #92
/remove-lifecycle stale

[2020-06-09 00:14] cheftako commented on #92
/lifecycle frozen

[2020-06-11 04:49] caesarxuchao opened #113 "Consider setting proxy server healthz to "not ok" if there is no backend connection for a long time"
The /healthz response controls if kubelet restarts a pod. If there is not proxy agent connecting to the proxy server for a long time, then maybe it's a server problem and restarting it might solve the problem. Thus maybe it's worth setting the healthz to "not ok" if there is no backend connection for a long time.

This is all hypothetical so far. If we see evidence in production, then we will come

[2020-06-12 18:17] charleszheng44 opened #114 "`make gen` doesn't work"
1.  `agent.pb.go`  generated by `protoc -I . proto/agent/agent.proto --go_out=plugins=grpc:${GOPATH}/src` is placed at `$GOPATH/src/assumes/sigs.k8s.io/apiserver-network-proxy/proto/agent`.  But `cat hack/go-license-header.txt proto/agent/agent.pb.go > proto/agent/agent.licensed.go` try to read it from the current directory, which doesn't work outside the $GOPATH

2. `make gen` requires the golang

[2020-06-15 16:19] eclipseo opened #116 "Test failing with "not enough arguments in call to tunnel.serve""
Fedora Rawhide, with latest stable Golang:

[code]

[2020-06-15 19:13] Jefftree commented on #79
/lifecycle frozen

[2020-06-15 19:29] Jefftree commented on #116
Thanks for the catch! It looks like we aren't running the tests for the konnectivity-client submodule in our CI

[2020-06-16 03:47] Jefftree opened #117 "`make test` does not execute unit tests in konnectivity-client module"
`make test` currently only recursively executes tests in the network proxy module. We should fix it to execute tests in the konnectivity-client submodule as well.

[2020-06-22 23:17] cheftako commented on #85
/remove-lifecycle stale

[2020-06-22 23:18] cheftako commented on #85
/lifecycle frozen

[2020-06-22 23:18] cheftako commented on #84
/remove-lifecycle stale

[2020-06-23 00:31] cheftako commented on #70
/remove-lifecycle stale

[2020-06-23 00:32] cheftako commented on #70
/lifecycle frozen

[2020-06-25 23:20] #36 closed

[2020-06-30 01:56] #55 closed

[2020-07-10 13:22] Avatat opened #123 "DATA to Backend failed, after agent restart"
Hello,
In the beginning, I would like to thank you, apiserver-network-proxy team, for your amazing work :)

I use Konnectivity in version 0.0.10 and Kubernetes 1.18.5. Most of the time everything works flawlessly, but when I restart agent's pods, konnectivity-server don't want to switch traffic to the new connections:
[code]
After konnectivity-server restart, everything is going back to normal.

[2020-07-10 17:07] cheftako commented on #123
/assign

[2020-07-10 18:04] cheftako commented on #123
Hi @Avatat, Given KAS <-segment 1-> Konnectivity Server <-segment 2-> Konnectivity Agent. Is segment 1 configured with http-connect, grpc over https or grpc over uds? You can find the answer in the /etc/srv/kubernetes/egress_selector_configuration.yaml file.

[2020-07-10 18:18] Avatat commented on #123
I had issues with HTTP and HTTPS protocols: https://github.com/kubernetes/kubernetes/issues/92690

Now I use konnectivity-server and kube-apiserver in one pod together, and they use GRPC over UDS.

[2020-07-10 19:54] Jefftree commented on #123
Hello, looking at the logs it seems that the failure is all tied to one request (id=3). Currently, when a connection is broken and re-established while a data transmission is in progress, the entire request data needs to be retransmitted (the apiserver should handle most of these retries).

Do requests made specifically after the agents reconnect exhibit this behavior as well?

[2020-07-11 07:04] Avatat commented on #123
Yes. After agents restart (not only reconnect) I lost communication from KAS to cluster services behind Konnectivity tunnel.
After KAS+Konnectivity-server (they are in one pod) restart, everything backs to normal.

[2020-07-13 02:40] cheftako commented on #123
Not sure if its the same issue. Trying to reproduce I improved our test infra (https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/124). Set to making two requests with a 10 second delay and restarted the agent between the first and second request. The client clearly gets stuck. Server log is
'''
I0712 19:38:29.625672 1005356 main.go:349] Starting health server for healthchecks.
I0712

[2020-07-13 09:06] Avatat commented on #123
Looks very similar :)
If you prepare a fix, I would like to test it on my case, but I will need a Docker image.

[2020-07-13 18:02] Jefftree commented on #123
Per https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/108 we removed retrying when server -> agent connections fail. I think the case in both your scenarios is that the same tunnel (and dialer) is used when the first connection is established, as well as throughout the agent disconnect and reconnect phase. The dialer/tunnel will still map to the old agent since we don't do any reconc

[2020-07-13 18:08] Avatat commented on #123
@Jefftree, thank you for the explanation!

Probably I don't understand how KAS works and do the requests, but the connection isn't working even when I try to do `kubectl logs pod_name` after konnectivity-agent restart. As I understand, KAS should make a new request/connection through Konnectivity tunnel, but it still can't.
Maybe KAS uses a single connection to do all requests?

[2020-07-13 18:24] Jefftree commented on #123
Hmm that's weird. KAS creates a new tunnel for each log request, so it's possible you're running into a different problem. Just confirming, this is GRPC over UDS?

[2020-07-13 18:27] Avatat commented on #123
I use below egress configuration:
[code]
KAS and konnectivity-server containers works in one pod and they share `/etc/kubernetes/konnectivity-server` directory (as emptyDir volume).

[2020-07-13 19:03] Avatat commented on #123
I observed one more thing:
After konnectivity-agent restart I'm getting:
[code]
and:
[code]
After konnectivity-server container restart, `kubectl logs ...` is now timeouting, and `kubectl top ...` stays the same.

After KAS (hyperkube) container restart, everything backs to normal and both commands work.

[2020-07-13 20:57] Jefftree commented on #123
If the UDS socket is missing that seems to be an issue with the konnectivity server, before even reaching the step to dial to the agent. Are you observing any restarts/crash loops/errors for the konnectivity server before you intervene manually?

Also noticed you have the -f flag for logs. Was this command ran after the agent reconnect or before?

I was able to reproduce this and this one should b

[2020-07-14 07:34] zanetworker commented on #123
We saw similar issues, was not sure what causes it. Could this also be related to the `serverCount` ?

[2020-07-14 20:30] Jefftree commented on #101
No performance improvement was observed when switching to tunnel reuse, and it adds additional complexity.

[2020-07-14 20:30] #101 closed

[2020-07-15 08:19] Avatat commented on #123
@cheftako, @Jefftree, thank you for your effort!
I built konnectivity-server image with @Jefftree change ^ and I think that it solves the issue. Can't wait for the release with the fix :)

[2020-07-15 09:04] Avatat commented on #123
But still, it isn't perfect. After some time and few agent restarts, I'm getting:
[code]
konnectivity-server log:
[code]

[2020-07-15 13:29] zanetworker commented on #123
@Avatat I had the same issue with having the konnectivity-agent as a deployment, turned it into a `daemonset` worked much better, still I didn't get down to why as a deployment it was stuck sometimes.

[2020-07-15 13:40] Avatat commented on #123
Thank you!
I thought the same and I've tried deployment and daemonset too - I didn't see any difference :(

[2020-07-15 15:15] Avatat commented on #123
Ok, I found why `kubectl logs` didn't want to work. The reason is simple and obvious - firewall on my nodes, allow traffic to kubelet (10250 TCP) only from KAS network. When Konnectivity tunnel was established to the agent on thenode A, it can't reach kubelet at node B, because the firewall was dropping communication.

[2020-07-15 16:41] Jefftree opened #126 "Handle agent disconnects for PendingDial"
When an agent disconnects https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/125 closes all client side connections that use the corresponding agent. However, PendingDial requests may still be in flight and have not been added to the list of clients yet. We should either fail them or retry with a different agent instead of letting the client hit its dial timeout.

Original context fro

[2020-07-15 21:02] #69 closed

[2020-07-15 21:02] jieyu opened #127 "Agent to server communication through an egress proxy"
Currently, the agent to server communication is based on gRPC streams. There're cases where an agent's egress has to go through an egress proxy. In many cases, the egress proxy does not support gRPC protocol directly.

Is there a recommended way to solve this problem? For example, has anyone tried tunnel the grpc http/2 traffic through an HTTP CONNECT based proxy?

[2020-07-15 21:08] cheftako commented on #123
Yup. We have a nice to have feature files to try to get the traffic to at least be sent to the correct failure zone (and better yest the right node). However there is benefit to not requiring the traffic have to land on the correct node. The most obvious is that as long as traffic doesn't have to land on the right node, then you can kubectl logs the agent, when its having problems.

[2020-07-15 23:32] cheftako commented on #127
Several people have floated the idea of having an alternate to gRPC for Agent <-> Server communication. It seems clear some refactor will need to be done to make that happen. (It certainly took some of Client <-> Server communication). While I think everyone on the project is in support of making that work, it will require someone who actually has a use case to drive it.

[2020-07-16 23:47] jieyu commented on #127
gRPC already supports HTTP CONNECT tcp tunnel (most proxies support that):
https://github.com/grpc/grpc-go/blob/master/proxy.go#L140
https://github.com/grpc/proposal/blob/master/A1-http-connect-proxy-support.md

I tested this by launching a squid proxy using docker
[code]

squid.conf
[code]

Launch the proxy server
[code]

Launch the proxy agent by setting HTTPS proxy env vars.
[code]
(Note that y

[2020-07-23 14:27] Jefftree commented on #79
Just realized, per https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/94 we close the connection in HTTP Connect mode so this should be handled for both modes.

/close

[2020-07-23 14:27] #79 closed

[2020-07-23 14:31] Jefftree commented on #86
After performance testing with reusing connections/streams, I think the final verdict is that we'll keep the current 1 dial = 1 connection mapping.

[2020-07-23 14:31] #86 closed

[2020-07-23 20:42] Jefftree opened #132 "apiserver-network-proxy-push-images job broken"
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/apiserver-network-proxy-push-images

Requesting access to cloudbuild logs to debug further (https://github.com/kubernetes/k8s.io/pull/1056)

/cc @cheftako

[2020-07-23 20:50] Sh4d1 commented on #132
They are viewable here http://storage.googleapis.com/k8s-staging-kas-network-proxy-gcb/logs/log-66bfaf44-b21f-424a-8128-fe6e371d7fcb.txt

Source : https://kubernetes.slack.com/archives/CCK68P2Q2/p1582047883132500

[2020-07-23 20:51] Sh4d1 commented on #132
The ID being the one we get permission denied on 😄

[2020-07-23 20:57] Sh4d1 commented on #132
Looks like we hit a 20min timeout 🤔

[2020-07-23 20:57] Sh4d1 commented on #132
Changing https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/master/cloudbuild.yaml#L1 to a higher value should fix the issue :)

[2020-07-23 21:18] #132 closed

[2020-07-27 08:28] yue9944882 opened #137 "Routing/grouping policy at proxy server"
hey folks, currently one proxy server can only tunnel the requests to one [set of] agents [randomly](https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/5136fd4d13014203252f36c42c82e117e5167618/pkg/server/backend_manager.go#L64) to the peer network, so the server can serve for at most one isolated network. if the # of isolated networks grows, deploying and managing proxy servers will b

[2020-07-29 21:06] cheftako commented on #73
/remove-lifecycle rotten

[2020-07-29 21:06] cheftako commented on #73
/lifecycle frozen

[2020-07-29 22:24] Jefftree commented on #117
Fixed.

[2020-07-29 22:24] #117 closed

[2020-07-29 22:24] Jefftree commented on #116
Fixed by https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/131

/close

[2020-07-29 22:24] #116 closed

[2020-08-11 18:12] Jefftree commented on #123
Fixed by https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/125

/close

[2020-08-11 18:12] #123 closed

[2020-08-13 21:24] Jefftree opened #140 "Proxy server & agent default health/admin ports overlap"
When testing locally with the default options for ports, the proxy server and agent overlap on port 8093 (admin and health ports). This shouldn't be a problem in k/k since server and agent are usually on different hosts but might be a problem when testing locally.

I think we should change the defaults.

Reference:

https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/master/cmd/server/

[2020-08-17 16:43] Avatat opened #141 "Can't pull the new releases from gcr.io"
Hello,
I would like to use the new release (0.0.12) and pull it from gcr.io, but I can't:
[code]
As you can see, for 0.0.10 pull worked, and use of this repository is documented here: https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/
I can't pull 0.0.11 release too.

[2020-08-17 18:39] #141 closed

[2020-08-25 20:33] #114 closed

[2020-08-25 20:34] charleszheng44 opened #142 "Allow backend manager to return backend based on agentID"
Currently, `BackendManager.Backend()` does not take any input, and can only return a random agent. Sometimes, the server may want to pick up a specific backend, consider the following:

Agents are located in different network regions, and the IP address is used as the agentID. when the server receives a request, it can choose the right agent based on the IP address.

[2020-08-25 23:37] Jefftree commented on #142
One of the main goals of the backend manager is to be able to select different strategies for picking the backend, so definitely +1 for this idea. I think we started with selecting a random backend for simplicity purposes. @caesarxuchao might be able to provide some additional context on incorporating additional backend selection strategies.

Feel free to send a PR if there's some specific functio

[2020-08-26 18:02] cheftako commented on #107
/remove-lifecycle stale

[2020-08-26 18:18] cheftako commented on #142
+1

From the [network proxy KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190226-network-proxy.md#alternatives-optional), "It may be desirable to allow out of band data (metadata) to be transmitted from the KAS to the Proxy Server." The intent was to extend the [NetworkContext](https://github.com/kubernetes/kubernetes/blob/release-1.19/staging/src/k8s.io/apis

[2020-08-26 18:20] cheftako commented on #142
Also feel free to attend cloud-provider SIG or cloud provider extraction WG meetings if you want to discuss this. (Or ping us on the corresponding slack channels)

[2020-08-27 02:43] charleszheng44 commented on #142
@Jefftree @cheftako thanks for your reply. We use the apiserver-network-proxy(ANP) in our Kubernetes based edge computing framework. In our case, it is very common that edge nodes are spread in different network regions. Therefore, it would be great if ANP can support different proxy strategy (e.g., one agent per node, or one agent per region).

I have submitted a pr #143 that tries to tackle this

[2020-09-16 00:41] #142 closed

[2020-09-23 15:40] trawler opened #145 "Server logs are too verbose"
When running konnectivity-server with `logtostderr=true` we found the logs somewhat too verbose.
We would like to have the ability to dial down on the amount of stream logs, especially the ones below:
[code]
However, setting different `--stderrthreshold` levels doesn't seem to have any effect and in the code, these logs are sent as Info level logs: https://github.com/kubernetes-sigs/apiserver-netw

[2020-09-23 21:26] cheftako commented on #145
+1,
I know @mvladev is attempting to address this with
https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/112

[2020-09-24 04:09] charleszheng44 opened #146 "Alternative communication protocol between server and agent?"
Currently, communication tunnel between agent and server is based on gRPC. Before using ANP, I used to set up the tunnel using TCP.  I did a small benchmark to compare the performance of using gRPC (i.e., ANP) over TCP. As expect, using gRPC introduces some extra overheads.

Run `kubectl exec test-po -- date` 100 times thorugh gRPC tunnel
[code]

Run `kubectl exec test-po -- date` 100 times throug

[2020-09-24 06:26] charleszheng44 commented on #146
Or, maybe we can add gRPC compressor to reduce the bandwidth?

[2020-09-24 15:57] cheftako commented on #146
+1
There is already a mode flag to control the communication between client (KAS) and server. We always new we would also want one between agent and server. I had been imagining it would be more likely to enable something like VPN support but your welcome to look at adding an optimized for bandwidth alternative.

[2020-09-25 01:44] charleszheng44 commented on #146
@cheftako Thanks for reply.

[2020-09-25 21:32] kvaps opened #147 "http: response.WriteHeader on hijacked connection"
Hi, I configured konnectivity-server with tcp transport + tls and HTTPConnect protocol.

client:
https://github.com/kvaps/kubernetes-in-kubernetes/blob/8244361f8724c6004c873a78f525659fd086fbce/deploy/helm/kubernetes/templates/apiserver-config.yaml#L15-L22

server:
https://github.com/kvaps/kubernetes-in-kubernetes/blob/8244361f8724c6004c873a78f525659fd086fbce/deploy/helm/kubernetes/templates/konnec

[2020-10-08 15:52] #28 closed

[2020-10-09 16:37] cheftako commented on #113
/remove-lifecycle rotten

[2020-10-09 16:37] cheftako commented on #113
/lifecycle frozen

[2020-10-13 01:18] charleszheng44 opened #149 "The proxy server can't read from frontend"
Tried to run the examples in the readme with the latest master, and kept getting the following error message:
[code]
I have checked out some previous commits, and I think the issue is introduced by PR #112.

@cheftako @mvladev @Jefftree

[2020-10-13 01:23] charleszheng44 commented on #149
@cheftako @mvladev @Jefftree

[2020-10-13 01:34] cheftako commented on #149
#112 Rephrased the message a little and bumped it from a warning to a full error. As far as I can tell #112 doesn't make any changes to the programmatic logic. Will attempt to pull the code and try it out. Was there a particular sample config in the readmes you were seeing this on?

[2020-10-13 16:51] charleszheng44 commented on #149
The error message is harmless as the tunnel being shut down. To show the html text, please run the proxy-test-client with "-v 4".

[2020-10-13 16:51] #149 closed

[2020-10-13 17:50] Jefftree commented on #126
/lifecycle frozen

[2020-10-13 17:52] Jefftree commented on #149
Does it make sense to add a warning message that this is may be normal in certain cases? Generally when the frontend or backend closes the connection, the other side will always receive some kind of error that the stream was abruptly terminated, but technically it shouldn't be an error?

[2020-10-13 19:33] cheftako commented on #149
1) The new log levels are "hiding" the client output. If you add a "--v=4" flag to the ./bin/proxy-test-client command you will see things appear to be working correctly. I'm seeing the http request from the client getting to the server and the html page being successfully returned. Might be good to set a default log level on the client to avoid having to specify it on the command line.

2) We see

[2020-10-13 21:00] kvaps commented on #147
Hi @Jefftree, thank you for the explanation.

I think I found the reason of this restarts, it was livenessProbe which was moved from admin to separate healthcheck port https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/139, fixed in https://github.com/kvaps/kubernetes-in-kubernetes/commit/94ceda778c7a93de9f4f8b92e9c3a9ab0626c0f2

Provided manifests are taken from the [official example

[2020-10-13 21:01] #147 closed

[2020-10-15 05:26] cheftako commented on #127
/lifecycle frozen

[2020-10-15 05:27] cheftako commented on #127
I believe this is being looked into with KEP https://github.com/kubernetes/enhancements/pull/2025

[2020-10-15 11:58] Avatat opened #152 "Server tries to route traffic through "hard" disconnected agents"
Hello,
I have Kubernetes 1.18 cluster where Konnectivity v0.0.12 is running.
Most of the time, everything works perfectly, but after ~20 days of konnectivity-server uptime, some DIAL_REQ are getting nowhere.
For example, `kubectl logs -n kube-system konnectivity-agent-h6bt9 -f` only worked after the third execution.

Server log:
[code]

Agent log:
[code]

Sometimes, when I want to view logs from t

[2020-10-15 15:56] cheftako commented on #152
Couple of quick clarifying questions. What does you setup look like? Single APIServer, Konnectivity Server and three Nodes each running an agent? There should be a line like "AgentID set to d700cd66-6ae4-416f-89be-4523adda93c3." in one of the agent logs. Can we get its log around W1015 11:51:13.078907?

[2020-10-15 22:26] Avatat commented on #152
My environment looks like below:
![Network diagram](https://user-images.githubusercontent.com/11491256/96190825-23a25a00-0f43-11eb-8846-4498c0293aaf.png)

That's weird, but I can't see an agent with that AgentID...
The first node and its agent:
[code]
The second node and its agent:
[code]
I will add that the first konnectivity-agent was recreated ~13 h ago (probably it's related with kubelet resta

[2020-10-16 00:19] cheftako commented on #152
So the problem certainly looks like a failure to clean up a backend tunnel to an agent which has gone away. There were some known issues which sound similar in v0.0.11, fixed by @Jefftree but I believe those fixes are in v0.0.12. I've tried generating this issue at head using two agents and a server but any attempt to kill/restart an agent is seen by the server. May try to get another box involved

[2020-10-16 09:54] Avatat commented on #152
@cheftako, I'm sorry, but I don't have any logs collection there and I lost the log after pod rotation.

But! I replicated the issue.
I disabled network on the node with `konnectivity-agent-h6bt9`, and restarted an agent container, to generate new AgentID and new connection. Look at the konnectivity-server log:
[code]
First, we see the new backend connection - that's OK.
Then we see DIAL_REQ from

[2020-10-16 15:48] cheftako commented on #152
Awesome work! That seems to confirm what I was suspecting. The problem would seem to occur when the connection is "silently" broken. On a single machine running both agents and a server, even if I "kill -9" the operating system will detect the connection having been broken and inform the server. I think by disabling the node your simulating a network failure. At that point no actual end connection

[2020-10-16 16:40] Jefftree commented on #152
Thanks for the detailed explanation! At the moment, only the agent is responsible for checking and disconnecting unhealthy connections so a "silently" broken connection coupled with the agent unable to reach the server seems to contribute to the connection not being properly cleaned up on the server. @caesarxuchao did originally bring up that we may need to perform health checks on the server side

[2020-10-16 18:17] Avatat commented on #152
I tested, how konnectivity behave after connection loss - an agent reconnects and everything works fine:
[code]

@cheftako, @Jefftree, can't we simply send "ping"/NULL packets at some interval?
Can't we use [Linux TCP keepalive feature](https://tldp.org/HOWTO/html_single/TCP-Keepalive-HOWTO/#programming)? I see, that [TCP keepalive is supported in Go](https://golang.org/pkg/net/#TCPConn.SetKeepAli

[2020-10-16 20:09] Jefftree commented on #152
I will defer to @cheftako as for performance implications but TCP keepalive seems like it should be able to solve the problem.

As for the code change, it should be a very small change to pass in additional [KeepaliveParams](https://pkg.go.dev/google.golang.org/grpc@v1.33.0#KeepaliveParams) when starting the proxy server. (https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/master/cmd/

[2020-10-16 20:21] Avatat commented on #152
Thank you for the description and your support! It's very kind :)

I will wait for @cheftako opinion and I will dig it through the weekend. That's a great opportunity for me!

[2020-10-16 20:51] Jefftree commented on #145
Since https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/145 is merged, I'm going to assume this is fixed. Feel free to reopen if there are still issues.

/close

[2020-10-16 20:52] #145 closed

[2020-10-16 20:53] Jefftree commented on #70
/close

[2020-10-16 20:53] #70 closed

[2020-10-19 16:40] #140 closed

[2020-10-19 16:42] cheftako commented on #152
So a packet every two hours is unlikely to cause any performance implications, however having a dead connection for upto 2 hours, while better than the current situation (?forever?) will have performance implications. I see no reason not to merge such a fix right now, as its strictly better than where we are. However I still think we should be looking to mark the connection as unhealthy. That is m

[2020-10-19 17:39] Avatat commented on #152
What do you think about setting the `Time` to 30 seconds?
I added keepalive option:
[code]
And I believe that it solved the issue:
[code]
[code]
[code]
And reconnecting:
[code]
[code]
I'm not sure, if adding `grpc.KeepaliveParams()` directly as `grpc.NewServer()` option is good. Should I create `serverOptions` array and pass it to `grpc.NewServer()`?

[2020-10-19 17:55] caesarxuchao commented on #152
Great findings, @Avatat!

I have some questions on implementing the health check.

Is the grpc.KeepaliveParams the same as the TCP keepalive, or is it at the GRPC level? It would be problematic if it's the TCP keepalive, because TCP keepalive won't kick in until the TCP max retransimission has been reached (see [[1]](https://pracucci.com/linux-tcp-rto-min-max-and-tcp-retries2.html)).

Is there a w

[2020-10-19 18:02] Avatat commented on #152
It looks that GRPC keepalive is something different than "classic" TCP keepalive:

[Source](https://github.com/grpc/grpc/blob/master/doc/keepalive.md)

I don't know the answer to the second question, but I will dig it :)

[2020-10-19 18:18] caesarxuchao commented on #152
Nice, the GRPC keepalive looks promising. The [godoc](https://godoc.org/google.golang.org/grpc/keepalive#ServerParameters) of `ServerParameters .Time` says that "After a duration of this time if the server doesn't see any activity it pings the client to see if the transport is still alive."  Not sure what is considered "activity" in GRPC protocol. If the server is trying to send or retransmit pack

[2020-10-19 20:16] Jefftree commented on #152
I believe we don't have access to the underlying connection on the server side (https://github.com/grpc/grpc-go/issues/2456) so health checks would have to be performed differently than on the client side. Interestingly enough, that issue in the grpc repo also points to using KeepaliveParams for closing problematic connections.

That's an interesting case we will need to verify

+1. The array migh

[2020-10-20 09:11] Avatat commented on #152
On the client-side, we use [grpc.ClientConn.GetState](https://godoc.org/google.golang.org/grpc#ClientConn.GetState) which works for client only, and I didn't find anything similar but for a server.

[2020-10-20 11:38] Avatat commented on #152
Maybe it's too early, but I've created a PR: https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/154

[2020-10-21 00:38] cheftako commented on #152
So I've been able to reproduce the problem using "sudo ifconfig down". This further confirms the belief in the problem. It also means I can implement a mechanism to mark a backend as unhealthy.

[2020-10-23 19:15] Jefftree commented on #152
I just looked into the grpc code, "activity" is defined by read activity on the connection, so the client needs to send data to the server to be quantified as "activity". server -> client transmit attempts should not be considered read activity so I think this keepalive option does actually solve our issue.

[2020-10-26 16:43] cheftako commented on #137
/lifecycle frozen

[2020-11-01 00:37] mvladev commented on #146
Fundamentally, for multiplexing ,  TCP is a bad choice due to [head of line](https://en.wikipedia.org/wiki/Head-of-line_blocking) problems which can affect all streams in the single TCP connection.

I've played around with [quic](https://github.com/lucas-clemente/quic-go) and the native support for streams in the protocol make the implementation of the server and agent quite trivial. See this repo

[2020-11-10 01:43] Jefftree opened #156 "Default logging level should be higher"
https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/112 helped us reduce the amount of noise within our logs, however the default log level of 0 only logs errors without any other context and isn't very helpful. If the proxy is working correctly without any problems, we will have 0 log lines. We should set the default to something higher like 3 or 4, and users can override it if necess

[2020-11-10 19:09] Jefftree commented on #156
Fixed.
/close

[2020-11-10 19:09] #156 closed

[2020-11-17 21:05] cheftako opened #158 "Add a deny global unicast option to the agent"
It would be nice to have an option on the agent to deny https://pkg.go.dev/net#IP.IsGlobalUnicast.
A little trick as the agent is currently requested to send to an address which can be either IP or hostname.

[2020-11-20 01:40] #84 closed

[2020-11-24 18:41] Jefftree commented on #107
/lifecycle frozen

[2020-12-04 08:53] daixiang0 opened #161 "export server&agent as library to integrate"
Hi, thanks for your awesome work first, it is a cool project I think!

I want to ask for any chance about exporting server/agent codes as a library for convenient integration.

The background is that at the edge computing field, the edge nodes may not have public IP or have a low-quality and low-speed network, direct connection to api-server is not a good choice.

Like [Kubeedge](https://github.co

[2020-12-05 02:41] daixiang0 commented on #161
/cc @cheftako

[2020-12-07 02:58] charleszheng44 commented on #161
@daixiang0 I think the ANP can be applied to your case directly. The tunnel between the ANP agent and the server is set up by the agent, so we don't need to assign a public IP to the agent.

[2020-12-07 03:08] daixiang0 commented on #161
Almost close, I want ANP server/agent work as a library, not a single binary.

[2020-12-08 09:53] cheftako commented on #161
I have no objection to making library versions of server and/or agent. We would need to scope what is in each of these libraries. Curious what the difference between pkg/agent and pkg/server and the libraries you have in mind? Also want to mention that as far as Kubernetes goes, the use of the server and agent binaries is outside our control. Multiple SIGs (Architecture, Networking, API Machinery,

[2020-12-09 01:23] daixiang0 commented on #161
For example, I think working as a library still need a func call `Run`, now it exists in `cmd/server`, so if I implent it, i need to write some codes to do "run" things, most of them are already done in `cmd/server`.

I think making library versions do not need breaking change since it only needs to add some export funcs.

[2020-12-10 00:40] Jefftree commented on #161
I'd like to add that it's actually quite complicated to change this repo into a library because of how go mod works, and also the interactions with konnectivity-client (see https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/62#issuecomment-585446782). We may need to split the repo if we want to go down that path.

I have no objections either but it would be helpful to understand the

[2020-12-10 21:15] cheftako commented on #161
I think it would make sense to break this into two issues, one for server and one for agent. Each is complicated. I do not want to cross the beams, or confuse the issues when we talk about what needs to be done for each one. They can also merge/ship separately.

A Run function sounds ok but we should probably define its inputs, outputs and responsibilities. For example the existing cmd/Server bina

[2020-12-11 03:06] mikedanese opened #165 "Move token authentication/authorization to a server interceptor"
This guarantees that authn/z is preformed centrally and consistently on all requests across the server so there's less chance of new methods sneaking in that don't preform authn/z correctly.

Right now, this check is preformed in the body of the Connect method:

https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/2fdb1a46954b1e99af989b037e543751eae49fe0/pkg/server/server.go#L462-L467

[2020-12-11 03:11] mikedanese opened #166 "Insecure run modes should be either not possible or explicitly opted in to"
Right now, network proxy server supports three auth modes (if I read https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/2fdb1a46954b1e99af989b037e543751eae49fe0/cmd/server/main.go correctly).

1. TLS Client auth
2. Service account token auth
3. None

The third mode should be ideally removed. If it is absolutely needed, it should be explicitly opted into via an e.g. `--insecure-no-clie

[2021-01-21 09:07] ydp opened #167 "quick and multiple Ctrl+C interrupt for kubectl logs -f cause konnectivity-agent stuck"
Hi team,

I met a strange issue in our product that when I use `kubectl logs -f konnectivity-agent-xxx` to streaming logs, because there are many logs there, I did not wait it to finish and use `Ctrl+C` to interrupt the streaming, since it did not exit immediately like cat big file, I issued `Ctrl+C` at least 3 times as quick as I can. Then the streaming process exit, but konnectivity got stuck. T

[2021-01-22 09:00] ydp commented on #167
I found that the kubectl version in our version is v1.12.7, change to the latest version, the problem seems mitigate a lot.

[2021-01-26 00:18] cheftako commented on #167
Any chance you can crank up the logging level (-v 9) and reproduce?

[2021-01-26 03:45] ydp commented on #167
@cheftako  thanks for the reply, I added "--v=9" to both server and client side, it did not print out more logs than before, is this the right flag to add?
and I updated both server and agent side to tag v0.0.14, the issue still reproduces.

[2021-01-26 07:30] ydp commented on #167
After some investigation, I had several confusion, could anyone help answer?

1. Regarding above issue, when I interrupt one logs stream, is it normal that all other connections received CLOSE_REQ?
2. I just noticed that in our k8s release(`1.19.6`), it's using konnectivity-client v.0.0.9, but we are actually using proxy-server and client v.0.0.12+, are this two versions compatible? Is it possible

[2021-01-26 16:55] cheftako commented on #167
So there are 2 tunnel sections, 1 from KAS to Server and another from Server to Agent. We do not reuse the tunnel section from KAS to Server. However we do multiplex traffic on the tunnel sections from Server to Agent. It sounds like that segment may be improperly broken. Do you know if the Agent remains healthy through the whole exchange? If the Agent is crashing that could explain what you are s

[2021-02-04 19:50] Jefftree commented on #73
Fixed by https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/169

/close

[2021-02-04 19:50] #73 closed

[2021-02-04 20:00] Jefftree commented on #152
@Avatat It seems like https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/154 solved the issue?

I'm going to close this, feel free to reopen if that is not the case.

/close

[2021-02-04 20:00] #152 closed

[2021-02-16 18:03] cheftako commented on #158
/lifecycle frozen

[2021-02-23 08:55] timoreimann opened #171 "Implement support for node to master network traffic (KEP-2025)"
This meta issue is to track all the work items necessary to implement [KEP-2025](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cloud-provider/2025-extend-konnectivity-for-both-directions) ([permalink](https://github.com/kubernetes/enhancements/tree/846705f347e51537fbef5835b321f5933d088b5c/keps/sig-cloud-provider/2025-extend-konnectivity-for-both-directions)). Individual tasks can

[2021-02-23 08:55] timoreimann commented on #171
/assign @timoreimann

[2021-02-23 08:58] timoreimann commented on #36
With @irozzo-1A's KEP merged, this feature request may now be implemented. I created #171 to track the overall progress, please subscribe to that one for further updates.

[2021-03-01 22:10] irozzo-1A opened #177 "Extend agent to support node to master network traffic"
This issue is to extend the agent in order to support the node to master traffic. The following changes are required:

- Introducing additional flags as described [here](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cloud-provider/2025-extend-konnectivity-for-both-directions#agent-additional-flags) (note that `target` flag is already present, another flag name will be used to pro

[2021-03-01 22:14] irozzo-1A commented on #177
/assign @irozzo-1A

[2021-03-03 08:51] marwinski opened #180 "Missing flow control appears to block traffic"
We have integrated the apiserver-network-proxy into our project and stumbled across some possibly more fundamental issues with it. Don’t get me wrong: we really like this project and really appreciate the work that has been done, however those issues would ultimately not allow us to use it, but our understanding of the whole domain might be too limited. This is what we know to be issues or suspect

[2021-03-05 09:56] marwinski commented on #180
We have confirmed that issue 2 above (missing flow control) is indeed an issue although the operating system buffers appear to be slightly bigger than anticipated. We have worked on a resolution in our fork for review https://github.com/mandelsoft/apiserver-network-proxy/commit/bb4a77daa8da23437386faaf7d921b86e87c46e3

We can show a blocked tunnel without the patch that does not block with it.

[2021-03-11 22:34] cheftako commented on #165
/lifecycle frozen

[2021-03-11 22:35] cheftako commented on #166
/lifecycle frozen

[2021-03-23 20:51] MaxRenaud opened #182 "Update Easy-RSA and CFSSL to support LibreSSL"
The Easy-RSA script used by this project is pull from:
 https://storage.googleapis.com/kubernetes-release/easy-rsa/easy-rsa.tar.gz

According to the latest entry in the Changelog, it's an old version:
3.0.0-rc2 (2014/07/27)

This is preventing OS that use LibreSSL instead of OpenSSL from running ```make certs```.  See https://github.com/OpenVPN/easy-rsa/issues/74. My OS is macOS Big Sur Version 11

[2021-03-23 22:41] MaxRenaud commented on #182
/reopen

The PR only partially fixes this.

[2021-03-24 14:43] MaxRenaud commented on #182
/close

#184 was merged and fixes this completely.

[2021-03-24 14:43] #182 closed

[2021-03-27 02:39] yanyhui opened #186 "Is multi cluster multi master scenario supported?"
For multiple clusters, such as three clusters, the clusters are master and node, master, master and node respectively; whether the network proxy supports this scenario, how the network proxy is implemented, and how the network between clusters communicates?

[2021-03-29 18:06] cheftako commented on #186
Hi, I'm a little confused by your question. We do support a multi-master cluster. The standard configuration for that would be 3 masters (each running a local proxy server) and some number of nodes (at least some of which are running agents). This normally works via the agents connecting to the proxy server via a load balancer. The proxy server is configured with a count of the number of masters (

[2021-03-31 02:38] yanyhui commented on #186
thanks

[2021-03-31 02:39] yanyhui opened #187 "How to establish communication between master node pod and edge node pod"
There are three lines. One is that the apisever of the master node and the kubelet of the edge node can establish a long connection between the master node and the edge node through ANP. What I want to know is the second line: how does a service pod of the master node establish communication with a service pod of the edge node? The third line: how does the apisever of the master node establish com

[2021-03-31 02:57] #146 closed

[2021-03-31 08:39] liufen90 opened #188 "Can mutiple proxy-agents which in different subnets connect to the same proxy-server? Can client access the same proxy-server to different destination servers which in different subnets?"
For example, proxy-agentA and destination-serverA is in the same subnetA. The proxy-agentB and destination-serverB is in the same subnetB. proxy-agentA and  proxy-agentB connect to the same proxy-server. A client can access the proxy-server to transfer the request to the destination-serverA or destination-serverB successfully.

[2021-03-31 08:45] liufen90 opened #189 "Can multiple agents which in different subnets connect to the same proxy-server? Can client access the same proxy-server to different destination servers which in different subnets？"
For example, proxy-agentA and destination-serverA is in the same subnetA. The proxy-agentB and destination-serverB is in the same subnetB. proxy-agentA and  proxy-agentB connect to the same proxy-server. A client can access the proxy-server to transfer the request to the destination-serverA or destination-serverB successfully.

[2021-03-31 08:46] #189 closed

[2021-03-31 16:48] cheftako commented on #187
Quick preface. When you say edge node, I am assuming you mean a worker node in the cluster. If you mean something more specific we should probably chat. Also worth pointing out https://kubernetes.slack.com/archives/CPS4Z8G8N for these discussions.

Things like "kubectl exec" should be able to establish long lived connections between the KAS (Kubernetes APIServer) and something running on an edge n

[2021-04-01 08:44] liufen90 commented on #188
thanks for reply. I have resolved the problem by using destHost strategy in proxy-server. It works in this scenario.

[2021-04-01 08:45] #188 closed

[2021-04-01 12:06] yanyhui opened #190 "What are the application scenarios of ANP in real projects?"
What are the application scenarios of ANP in real projects? Edge computing is one of them.

[2021-04-01 12:16] yanyhui commented on #187
@cheftako
Thanks.

[2021-04-01 12:16] #187 closed

[2021-04-01 22:04] cheftako commented on #190
So the original inspiration for ANP was to replace SSH Tunnels.
That covers a particular managed kubernetes scenario.
The idea for this would be the control plane is part of the cloud providers network.
The data plane (the network the cluster/workload) if part of the customers network.
The two networks may not be "routable" and in fact both sides may view that as good.
Obviously the control plane

[2021-04-02 02:38] yanyhui commented on #190
@cheftako  thank you for zhe answer.

[2021-04-02 02:45] yanyhui commented on #186
@cheftako
The cluster has three master nodes and one root node, and the network between the master node and the root node is not connected. In this case, the master node communicates with the root node through ANP. The first question is: do the three master nodes establish a set of ANP proxy communication with the root node? The second question is: among the three established ANP communication lin

[2021-04-02 03:01] yanyhui opened #191 "When the network is disconnected, how does the master node communicate with the root node through ANP?"
1. How does ANP transfer the user's request to the specific service of the root node? 2. Does the ANP agent establish a long connection between the master node's apisever and the root node's kubelet for communication? If not, which component of the apiserver root node of the master node communicates? How can HTTP request to the root node access the specific service through the DNAT rule of iptabel

[2021-04-02 03:20] #190 closed

[2021-04-02 06:33] aca commented on #190
@cheftako Can you give me some more explanation about how to achieve this?
```Obviously the control plane needs to expose a route to the KAS (and proxy server).```

[2021-04-02 21:31] Jefftree commented on #186
Each root/cluster node runs an agent that establishes a tunnel to every master node. The master nodes can then use these tunnels to proxy traffic to the cluster nodes. Please see the [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1281-network-proxy#proposal) for more details.

For question 2, the default mechanism is to select a random node to route the request

[2021-04-05 15:50] cheftako commented on #190
Hard to answer this without understanding your configuration.
In general there would be a hole in the firewall (and for HA configurations a load-balancer) to give access to the KAS.
Other control plane resources such as the ETCD server and scheduler would remain protected by the firewall.
I would suggest whatever solution you use to expose your KAS is probably what you should use to expose the ANP

[2021-04-05 17:03] cheftako commented on #186
/assign @Jefftree

[2021-04-06 02:38] yanyhui opened #193 "Package missing and installation dependency affect the original package in master branch?"
What is the reason for the absence of package k8s.io/klog/v2 in ANP code? There is also a local installation package for grpc google.golang.org/grpc And so on can be introduced, but the package github.com/google/uuid But it can't be introduced. What's the reason that this package doesn't exist?

[2021-04-06 02:44] #193 closed

[2021-04-07 01:21] yanyhui commented on #191
@cheftako

[2021-04-07 05:58] #186 closed

[2021-04-07 05:59] yanyhui commented on #191
@flaper87 @mortent

[2021-04-07 19:36] cheftako commented on #191
So I would generally suggest not using ANP for things running on the root node. We built it as an option and for reasons of symmetry. However most of the time its easier to configure the KAS to have control traffic be put directly onto the network. It is possible to configure a separate ANP Proxy Server/Agent to specifically handle the control plane traffic but generally not worth the trouble. If

[2021-04-08 00:59] yanyhui commented on #191
@cheftako  2、3、4.The answers to these three questions are not very clear. Please give a detailed explanation. thanks.

[2021-04-08 15:46] cheftako commented on #191
As mentioned in 1  we do not suggest using ANP for things running on the root node. If you do decide to set this up, it would depend on how you did it. The obvious option would be to have an agent running on the control plane, connected to a separate ANP Server instance. The KAS would then talk to that ANP Server instance when it needed to make requests of the control plane. In that case the contr

[2021-04-09 02:36] yanyhui commented on #191
@cheftako Thank you for your answer.
1. I want to know what component the management plane is and is it a node of the data plane cluster? Or is it part of a separate cluster? What are the specific components? If there is a node in the data plane cluster, there are some problems such as pod creation, deletion and health check. How is it managed by the cluster?
2. I feel that the management plane ca

[2021-04-09 17:14] cheftako commented on #191
The management plane isn't a component. Its the set of things needed to "run" the data plane. So it would consist of the Kube APIServer, Scheduler, Kube Controller Manager, Etcd etc. Whether its a separate cluster is dependent on how your cloud provider decided to configure things. "How is it managed by the cluster?" The mechanisms for cluster reconciliation are well beyond the API Server Network

[2021-04-13 01:08] cheftako commented on #161
/lifecycle frozen

[2021-04-15 06:21] WintonChan opened #194 "Can taffic forward with the policy destHost correctly when proxy connect to two same IP address but different LANs?"
For example，two clusters are deployed in the defferent LANs. One Proxy connect two LANs with  the policy destHost and tiwo api server is configured with the same IP, 192.168.0.1.  Can the ANP identify it?

[2021-04-21 08:51] Champ-Goblem opened #195 "Intermittent Conectivity Issues between APIServer and Kubelet"
On a number of our clusters that have been upgraded recently from `1.19.8` to `1.19.9-gke.100` we have been experiencing connectivity issues for authorisation webhooks, port-forwarding from local machines and fetching logs via kubectl.

These clusters are all running the konnectivity agent version `0.0.15-gke.0`. At the time of a failure of one of the above, we often see sporadic messages in the a

[2021-04-26 16:22] jveski opened #196 "Publish agent errors as events"
Since getting pod logs is dependent on the agent, troubleshooting a disconnected agent is difficult.

One way to address this would be to publish k8s events for agent errors. If folks think this is a good idea I'd be happy to implement.

[2021-04-26 23:39] cheftako commented on #196
Happy to discuss. Would not help if you were using https://github.com/kubernetes/enhancements/tree/master/keps/sig-cloud-provider/2025-extend-konnectivity-for-both-directions but thats not a deal breaker.

Were you thinking the agent wrote to the status on its own Pod resource? Enhancing something like https://github.com/kubernetes/node-problem-detector?

[2021-04-27 16:50] jveski commented on #196
I was thinking about creating events for human consumption i.e. by describing the agent pods. But I like your idea of using a condition since it could also be used as a readiness gate. If there are no objections I'll put together a PR.

[2021-04-28 00:16] ydp commented on #167
After upgrade to v0.0.15 for k8s 1.20.5, the issue still exists.

[2021-04-29 03:18] ydp commented on #180
I think we are encounter similar issue, in out scale test, some cases always timeout from `kubectl` side, but the actual workloads running fine.
HI @marwinski  have you ever encounter `kubectl logs` issue like this https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/167 , I am searching on the possible cause, but no luck.

[2021-04-29 03:46] ydp commented on #167
/remove-lifecycle stale

[2021-04-29 08:01] marwinski commented on #180
Hi @ydp, this issue could well cause frequent timeouts from kubectl logs as it goes via the tunnel. #167 looks like the error handling issue described in (3) above.

You should be able to get rid of the blocking issues with our two pull requests  https://github.com/mandelsoft/apiserver-network-proxy/commit/bb4a77daa8da23437386faaf7d921b86e87c46e3 and https://github.com/kubernetes-sigs/apiserver-ne

[2021-05-06 02:51] Jefftree commented on #167
/assign

[2021-05-07 08:09] liufen90 opened #200 "Can client authenticate both with proxy-server and destination https-test-server?"
In the example, the client only authenticated with proxy-server. In my user case, the client needs to authenticate with destination https-test-server, for example, the client is kubectl, the https-test-server is kube-apiserver. There was one way to solve the problem: I deleted the proxy-server's certs for client. The client only authenticated with https-test-server. It can work, but it is not safe

[2021-05-07 20:24] Jefftree commented on #167
Confirming that I can reproduce this problem. I'm not exactly sure about the mechanisms of how we get into the specified state, but the end result is that the agent is unable to proxy any more requests.

Agent log show a stream of DIAL_REQs

[code]

while still being able to communicate with the proxy server. The agent <-> server connection is still healthy and no health checks are failing. A succ

[2021-05-10 19:39] Jefftree opened #202 "Kubernetes network proxy e2e tests broken"
Not sure what happened, e2e tests with network proxy enabled have been failing since 5/7/2021.

https://k8s-testgrid.appspot.com/sig-api-machinery-network-proxy#ci-kubernetes-e2e-gci-gce-network-proxy-http-connect

[2021-05-10 20:55] cheftako commented on #202
Seems to have begun failing between 17:49 PDT (Commit 1f3fd1cb8) and 15:49 PDT (Commit a5cf298a9) on May 6th.
$ git rev-list --ancestry-path a5cf298a9..1f3fd1cb8
1f3fd1cb80fa37bdaa1fd1ee30d35f84681cdd54
Which leads us to https://github.com/kubernetes/kubernetes/commit/1f3fd1cb80fa37bdaa1fd1ee30d35f84681cdd54.
That is pull https://github.com/kubernetes/kubernetes/pull/101751 which lines up on time.

[2021-05-10 20:57] #202 closed

[2021-05-12 09:35] WintonChan opened #206 "Deploy ANP with bootstrap tokens"
Currently，it is inconvenient to deploy proxy-server and proxy-agent separately. It need user copy certification manually. Can ANP be installed by bootstrap tokens so that certification can be delivered with bidirectional trust? If possible, we could make proposal to the community

[2021-05-13 06:47] yanyhui opened #207 "The problem of invalid link of contributor cheat sheet."
The problem of invalid link of contributor cheat sheet.The details are shown in the following figure:
![image](https://user-images.githubusercontent.com/33149983/118088721-10cd0680-b3fa-11eb-87c2-6948d5158f2c.png)
next:
![image](https://user-images.githubusercontent.com/33149983/118088765-23474000-b3fa-11eb-8569-f7417c81d967.png)

[2021-05-13 11:26] lperdereau opened #209 "ApiServer-network-proxy pods shutdown unexpectedly"
Hello,

I'm trying to do a control plane inside another Kubernetes and I'm using apiserver-network-proxy inside my control plane deamonset.
But my apiserver-network-proxy container shutdown unexpectedly.
`I0513 11:22:21.924102       1 main.go:439] Shutting down server.`
I have no trace to debug why it shutdown.

The socket is mount in a empty directory volume between api-server and api-server-netw

[2021-05-13 20:00] cheftako commented on #209
That message (https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/master/cmd/server/main.go#L439) is printed when  we receive something on the stop channel from the signal handler. This usually means we got a request to shutdown. I would suggest checking either journalctl and/or kubelet logs. It may be something like it didn't respond to a health check and the kubelet shut it down. You

[2021-05-14 08:55] lperdereau commented on #209
Thank you for your help 👍
I find the problem come from liveness probe
`livenessProbe:
            httpGet:
              scheme: HTTP
              host: 127.0.0.1
              port: 8134
              path: /healthz
            initialDelaySeconds: 60
            timeoutSeconds: 60`
 Host shouldn't be configure cause server don't `0.0.0.0`

 liveness probe should be like

`livenessProbe:

[2021-05-17 08:34] #200 closed

[2021-05-17 16:27] cheftako commented on #209
Glad to hear the issue is resolved. It would be good to fix any docs/scripts which led to this misconfiguration. Feel free to add pointers, as we would love to prevent a repeat.

[2021-05-18 01:23] jkh52 commented on #167
I can repro this. Out of curiosity I tested with binaries built to include https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/179 to see if it helps, but it still occurs.

[2021-05-18 11:39] liufen90 opened #214 "upgrade client-go package from v0.17.1 to v.0.19.10+"
Client-go package has  newer releases. We should upgrade client-go to newer version.

[2021-05-18 18:56] cheftako commented on #214
/assign

[2021-05-19 03:18] liufen90 commented on #214
@cheftako  I have finished upgrade client-go to v0.19.10.

[2021-05-19 03:23] liufen90 commented on #214
/assign

[2021-05-19 03:26] liufen90 commented on #214
@cheftako  Can you merge the PR #216  and release a new version as soon as possible? Thanks very much.

[2021-05-19 11:10] Avatat opened #217 "0.0.17 images are not available"
Hello Team,

I had tried to pull the new version of agent/server images and I got an error:
[code]

[2021-05-19 19:43] cheftako commented on #217
/cc @Jefftree Could you take a look at this? Is there something we need to do to make sure it gets pushed to the eu image registry?

[2021-05-19 19:57] Jefftree commented on #217
@cheftako Yep, can you approve this? https://github.com/kubernetes/k8s.io/pull/2065

[2021-05-19 20:44] cheftako commented on #217
Done and thank you.

[2021-05-19 22:05] Avatat commented on #217
I can confirm, that images are available now (both US and EU repositories).
Thank you!

[2021-05-19 22:05] #217 closed

[2021-05-20 05:52] Avatat commented on #167
I confirm, that problem exists on agent and server in version 0.0.17.

[2021-05-21 00:56] #167 closed

[2021-05-22 20:00] caesarxuchao commented on #167
Summarized the root cause and solutions in this google drive [doc](https://docs.google.com/document/d/1lI1bPJg6hV_hSDW9k530GqnckVRNGn1-apQFx64tqjw/edit?resourcekey=0-P2PTM6V2ZoR_ERT9T3Fr6A#).

You need to join https://groups.google.com/g/kubernetes-sig-api-machinery or https://groups.google.com/g/kubernetes-sig-cloud-provider to view.

[2021-05-24 02:24] ydp commented on #167
@caesarxuchao @cheftako @jkh52 Awesome work! This fix and following up changes definitely make this component more robust. Though you already tested this, I will double confirm it once we bump to the latest version.

I'm learning the design doc, since no comment permission, will just ask here, appreciate if anyone could help answer.

* Why the golang http lib sometime can or cannot consume the las

[2021-05-24 19:18] caesarxuchao opened #222 "serveRecvBackend should not block on sending to frontend."
This is derived from an offline discussion with @cheftako and @jkh52.

For each agent, the proxy server runs a [serveRecvBackend() goroutine](https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/603aa670ea3d1e8449dfc7ddd9a303a07a53b904/pkg/server/server.go#L611) to serve the traffic from the proxy agent to the proxy server.

When debugging #167, we found that the serveRecvBackend can [b

[2021-05-24 19:38] cheftako commented on #222
To be clear we mentioned marking the frontend stream an unhealthy. (As opposed to marking an entire KAS as unhealthy)

[2021-05-24 21:11] youssefazrak commented on #171
/remove-lifecycle stale

[2021-05-25 05:09] ydp commented on #222
Hi @caesarxuchao , thanks again for your work, if the purpose of marking proxy-server as unhealthy is to let kubelet restart it, could it be possible to just let it exit and make supervisor to restart it? Per my understanding, the ANP is meant to isolate control plane and cluster network, one way to achieve that is to remove kubelet from control plane, in this case, marking proxy-server unhealthy

[2021-05-31 07:42] irozzo-1A commented on #177
/remove-lifecycle stale

[2021-06-01 03:04] #214 closed

[2021-06-01 03:21] liufen90 opened #226 "Refine code of main.go: only reserve main() function in main.go file"
Refine code of main.go: only reserve main() function in main.go file. Create app directory under cmd/agent and cmd/server. Transfer structs and functions to app directory. For example, https://github.com/kubernetes/kubernetes/tree/master/cmd/kube-controller-manager

[2021-06-01 16:44] cheftako commented on #226
/assign @liufen90

[2021-06-01 18:46] rtheis commented on #180
Hi folks, we've been doing a lot of Kubernetes conformance testing with Konnectivity version 0.0.19 enabled for Kubernetes version 1.21 clusters.

Here is the basic structure of our test invocation.
[code]

These tests have consistently failed with Konnectivity.  Scaling up `k8s_conformance_e2e_num_parallel_test_nodes` only makes the problem worse.  Replacing Konnectivity with our previous proxy s

[2021-06-02 07:28] Tamas-Biro1 opened #229 "Pre-submit lint check for this repo"
Since the option to run golint, govet, gofmt has been available for a while (see: https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/170) it is time to create some sort of pre-submit check based on these tools as it was suggested by @cheftako here https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/170#issuecomment-776233595

Here is the PR: https://github.com/kubernetes/t

[2021-06-03 13:03] mihivagyok commented on #180
@marwinski
Hi! Could you please give some testing detail how to re-produce the issue 2 (blocking the tunnel)?

Thank you!
Adam

[2021-06-04 17:30] #229 closed

[2021-06-07 01:34] liufen90 commented on #226
@cheftako, when will we release a newer version? I need to use the refine code of main.go in next version. Thank you very much.

[2021-06-07 04:05] cheftako commented on #226
@liufen90 I assume your looking for the #227 change. I thought this was a code forklift rather than bug fix or feature addition. Curious to understand what you mean release a new version. That change has merged into the mainline. We have not cut a new release with it (v0.0.20 will be the next release) but not I understand if thats what you are asking for? If it is I would like to better understand

[2021-06-07 06:13] liufen90 commented on #226
@cheftako  Yes, I look for #227 change. I need to import functions and structs from app package instead of copying them in my project. Issue: https://github.com/kubeedge/kubeedge/issues/2869

[2021-06-07 16:07] cheftako commented on #226
Very cool!
/cc @Jefftree can you take care of cutting a v0.0.20 release?

[2021-06-07 20:19] cheftako opened #232 "Remove the term "master" from the code base"
"master" is neither inclusive nor considerate of our members. As per https://github.com/kubernetes/community/blob/master/wg-naming/language-evaluation-framework.md#is-the-term-overtly-racist it is against K8s/CNCF policy. We need to clean up the code base to remove this term.

[2021-06-08 01:24] liufen90 commented on #226
Thank you very much.

[2021-06-10 12:49] mcginne opened #236 "Performance of Konnectivity is limited when using proxy requests"
In previous Kube versions we were using OpenVPN, but have switched to Konnectivity for Kube v1.21.

I have been running some performance tests to compare the performance of the 2 providers.

When running proxy requests to hit a service running in the cluster I am seeing much lower performance with Konnectivity:

I am using jmeter with 50 threads to hit the following URL:
[code]
`httpperf-np-servic

[2021-06-10 17:55] jkh52 commented on #236
Hi - I noticed the logs indicates http-connect mode; I would be interested in whether grpc mode is similar or different, have you tried it?

[2021-06-10 21:59] Jefftree commented on #226
v0.0.20 has been released

[2021-06-11 01:04] liufen90 commented on #226
Thank you very much!

[2021-06-11 20:04] jkh52 opened #237 "Improve scalability for large clusters (high number of proxy-agent)."
If proxy-agent count is high enough, during spikes (such as cluster bootstrap or scale-up) proxy-server can experience client-go throttling of tokenreview requests. This was the motivation for adding flags: https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/192

It should be possible for proxy-server to short-circuit the auth request for known agent IDs. This would not alleviate the i

[2021-06-11 20:57] caesarxuchao commented on #222
https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/234 adds the histogram metrics.

[2021-06-11 22:39] cheftako commented on #222
So it would certainly be possible to have a flag which told the proxy-server to exit on unhealthy. I see no reason we can't do that, though I'm not sure how often it would be used.

Why not often used? When the control-plane is running separate from the cluster network, its still pretty normal to run the control plane via a kubelet. The relevant kubelet is usually not reading/writing to KAS its co

[2021-06-14 08:37] mcginne commented on #236
@jkh52 We haven't tried grpc mode yet, just checking if it's something we can try out..

[2021-06-19 22:44] cheftako opened #240 "Create unit tests for context with timeout/cancel passed in to tunnel creation."
https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/238/files#r654725101 has a unit test which was not merged.
Would like these tests merged.

[2021-06-20 14:27] aojea commented on #236
/cc

[2021-06-20 14:33] aojea opened #244 "Enable more linters by default"
It is always hard to get a good set of enabled linters plugins, however, once you get them they are very useful.

Currently there are only 3 linters enabled
https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/5d2b5126a2f0c9640ca0394a0b3b5039fb96210b/Makefile#L85

I've created 2 PRs to add `govet` and `unused`
https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/243
https://g

[2021-06-21 00:05] cheftako commented on #244
Both have been approved and thank you for getting this done!

On Sun, Jun 20, 2021 at 7:33 AM Antonio Ojea ***@***.***>
wrote:

[2021-06-21 07:44] aojea commented on #244
my pleasure :smile:

[2021-06-21 07:44] #244 closed

[2021-06-21 08:58] mihivagyok commented on #236
Hi!

When GRPC is configured in the egress selector configuration (for Kube API server), then we need to use UDS. Do I understand right?
apiserver log:
[code]
https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/#configure-the-konnectivity-service
[code]

I believe this won't work us (I work with @mcginne).

Thank you!
Adam

[2021-07-05 08:47] mcginne commented on #236
We tried with GRPC mode, and it only gave a very slight improvement - still well behind the OpenVPN results:
<img width="1170" alt="image" src="https://user-images.githubusercontent.com/27362732/124443884-f8cc9000-dd75-11eb-9dea-359cc97f5c43.png">

[2021-07-21 08:21] Champ-Goblem commented on #195
It was an issue with konnectivity agent and server causing memory leaks in the api-server. To quote our GKE support engineer:
[code]

[2021-07-21 08:21] #195 closed

[2021-08-10 07:42] Tamas-Biro1 opened #255 "Konnectivity server leaks memory and free sockets"
Hello,

We are using ANP version 0.0.21 with a patch https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/179 (I know it is already in 0.0.22, but currently it is not an option to upgrade)

We have a cluster with 1 ANP server and 4 ANP agents. Sometimes we see that the server starts consuming lot of memory and once it reaches the limit then restarts, and the whole thing starts from the

[2021-08-10 17:41] cheftako commented on #255
One issue I'm following up on right now has to do with losing connections during a dial timeout. The most obvious symptom would be lines in the server log containing the string connectionID=0. Do you see this? (I have a fix for GRPC checked in but I think a bit extra needs to be done for http-connect which I believe is what you are using)

[2021-08-10 17:42] cheftako commented on #255
It would also be interesting to see what pprof says as your ramping up on memory and sockets.

[2021-08-10 18:33] Tamas-Biro1 commented on #255
@cheftako yes we are using http-connect. I cannot see this `connectionID=0` in server log at all. I can only access the logs from the server, but will try to reproduce it in my acc to run pprof and will get back the results to you. Could link the PR you are referring that fixes for GRPC? thank you

[2021-08-10 22:27] cheftako commented on #255
https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/253. I think the handling of client.PacketType_DIAL_CLS should also close the http connection but I wanted to get more testing before adding that change. However if your not seeing connectionID=0 then I think you seeing a different issue.

[2021-08-16 12:39] ydp opened #256 "konnectivity-server.socket too many open files"
In upgrade cluster scenario, we hit issue that reports error in KAS log:

[code]
The upgrade path is from k8s 1.19 to 1.20, and related ANP is from v0.0.12 to v0.0.15, but logs came from https://github.com/kubernetes/kubernetes/blob/v1.19.10/staging/src/k8s.io/apiserver/pkg/server/egressselector/egress_selector.go#L197, so we must fail to upgrade, the problematic version should be v0.0.12, however

[2021-08-23 08:06] irozzo-1A commented on #171
/remove-lifecycle stale

[2021-08-26 16:50] mihivagyok opened #261 "konnectivity fails on kubectl cp"
We see issues with the `kubectl cp` functionality with version 0.0.23 (and earlier).

In my test, I'm copying 3M files to a pod, but the on the third or fourth copy is always failing and then nothing else is working with that konnectivity agent.

Command:
[code]

When a successful copy ends, I see the following logs in the agent:
[code]

When it fails, I don't see the `connection EOF` message, and

[2021-08-28 05:55] mihivagyok commented on #261
Hi! In the this test, I have two workers, so there are 2 agents. Thank you!

[2021-08-29 05:10] cheftako commented on #261
Just tried to repro locally using the following commands.
- ./bin/http-test-server
- ./bin/proxy-agent --ca-cert=certs/agent/issued/ca.crt --agent-cert=certs/agent/issued/proxy-agent.crt --agent-key=certs/agent/private/proxy-agent.key --admin-server-port=9094 --health-server-port=9095 --agent-identifiers=ipv4=127.0.0.1
- ./bin/proxy-agent --ca-cert=certs/agent/issued/ca.crt --agent-cert=certs/agen

[2021-08-30 06:21] mihivagyok commented on #261
@cheftako
Thank you for trying! From your test, I don't see the "copy" part, but let me share some differences:
- We use HTTP-CONNECT between the Konnectivity server and client (kube API server)
- Yes, I think you need a kubernetes cluster for this problem, we have integrated Konnectivity to Kubernetes 1.21
- The problem is that the copy hangs after some tries or with bigger files. This also tells

[2021-08-30 06:44] cheftako commented on #261
Few more breadcrumbs. (Still working on narrowing down the repro).
Kubectl -v=9 shows the following as the request.

I0829 23:38:51.775518  184241 round_trippers.go:405] POST https://X.X.X.X/api/v1/namespaces/kube-system/pods/kube-proxy-kubernetes-minion-group-xxxx/exec?command=tar&command=xf&command=-&command=-C&command=%2Ftmp&container=kube-proxy&container=kube-proxy&stderr=true&stdin=true&stdou

[2021-08-30 07:05] cheftako commented on #261
OK tried with agent-identifiers destHost,default,grpc and 3 agents. No problem I could see. Tomorrow will try switching to http-connect. Myabe we're hitting a size limit trying to support SPDY and http-connect. (Not sure where agent-id falls in that)

[2021-08-30 07:14] mihivagyok commented on #261
Yes, okay, I try to investigate it too. We have bunch of customers who are complianing, so I still believe the problem is real.
Thank you!

[2021-08-30 13:00] mihivagyok commented on #261
@cheftako If you are open to a webex session, I could show how we configure Konnectivity and the problem itself. Thank you!

[2021-09-01 13:19] rtheis commented on #180
/remove-lifecycle stale

[2021-09-01 16:09] cheftako commented on #261
@mihivagyok I would be open to a webex session. Feel free to reach out on Slack to arrange some time.

[2021-09-02 06:19] cheftako commented on #261
Worth checking out https://github.com/kubernetes/kubernetes/issues/60140#issuecomment-898466684

[2021-09-02 06:28] mihivagyok commented on #261
Thanks, I read it, although I think our problem is a bit different, because once I change the config, everything works well.
I will look for you on slack.

Thank you!
Adam

[2021-09-03 18:32] cheftako commented on #261
Thanks for meeting with me and showing me more details of how to repro. I have now been able to repro, although its still seems like a less frequent problem on my test system. Having reproduced on my system I was able to look at the relevant agent logs. The last things I see in the agent log for the relevant connection is
[code]
the agent log continues after that but I see nothing more for connect

[2021-09-06 19:27] #191 closed

[2021-09-09 00:20] cheftako commented on #261
Bread crumbs. Managed to get goroutine dumps on the Konnectivity Server and Konnectivity Agent after I repro'd the issue. I then subracted the goroutine dumps from the same processes when they were 'idle'. Here are the diffs.

[code]

[code]

[2021-09-09 00:23] cheftako commented on #261
grpc quota writer is known to block writes if the other end has stopped (or is to slowly) reading. Need to work out if that's whats happening, which is the other end and see why.

[2021-09-09 04:35] Jefftree commented on #226
I think this is fixed?

/close

[2021-09-09 04:35] #226 closed

[2021-09-12 07:16] #194 closed

[2021-09-25 09:50] #196 closed

[2021-09-26 13:22] ydp opened #268 "too many timeout requests to remote causes tunnel between server and agent hangs"
When you have a metrics server that's broken, the APIService request from KAP to metrics server will timeout, in fact, all requests return at code  https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/v0.0.22/pkg/agent/client.go#L390 , which looks good. But this event will cause other requests, like `kubectl exec/logs` to other running pod hangs. I can observe that the other requests se

[2021-09-27 02:27] ydp commented on #261
Hi @cheftako  could you be more specific about the grpc quota writer? What's the impact to ANP? I suspect the #268 is similar with this one.

[2021-09-27 04:08] ydp commented on #268
Added some logs:
server side:
[code]
agent side:
[code]
Normally, I can see logs print from both side immediately:
server
[code]
agent
[code]
But when the issue happens, it could be seen that the client side received the packet after a very long time (or never received the packet), which caused all requests timeout in 30 seconds with code https://github.com/kubernetes-sigs/apiserver-network-proxy/

[2021-09-27 04:20] ydp commented on #268
The description that communication eventually recovery by itself after delete metrics server is not accurate, sometimes I never see it recovery.

[2021-09-28 08:17] irozzo-1A commented on #177
/remove-lifecycle rotten

[2021-10-04 11:24] rtheis commented on #236
/remove-lifecycle stale

[2021-10-10 07:32] #207 closed

[2021-10-15 01:04] relyt0925 commented on #261
This pr aims to help start fixing the problem (by randomizing across a pool of multiple redundant instances that can serve the same IP)
https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/272/files

[2021-10-15 12:07] mihivagyok commented on #268
Hi!

Do you use any CPU limit on the agents?

Thank you!
Adam

[2021-10-15 21:39] jkh52 opened #273 "Support dynamic number of proxy-servers"
Feature Request: support clusters with dynamic number of proxy-servers.

Example use case: gracefully add a 2nd control plane node to a 1 control plane node cluster.

Current state:
* proxy-server takes static --server-count flag for the life of the process.
* proxy-agent learns the count from a Connect RPC response, and caches the first-seen value for the life of the process.

**Proxy Agent**
We

[2021-10-20 07:14] mihivagyok commented on #255
Hi!

It is possible that there were some networking issue between the konnectivity server and agent, but the traffic was high.
I see this PR: https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/270

It is possible we have found this issue. @Tamas-Biro1 I think based on this, we could try to simulate this somehow. What do you think?

Thank you!
Adam

[2021-10-21 14:33] mihivagyok commented on #261
Okay, I see the following:
- in the konnectivity-server the last successful transfer
[code]
Transfer starts and this is the last log regarding the `connectionID=448`:
[code]
Then there is nothing about the connection closing.
From agent point of view:
[code]

That's the end. I don't see closing logs either.

Then the next `kubelet` related request comes and I see only these logs:
[code]
Here I thi

[2021-10-21 16:06] mihivagyok commented on #261
I have also checked the log "Receive channel on Proxy is full", but it does not appear (yes, I have enabled in the parameters).

Thanks!
Adam

[2021-10-27 14:42] rata opened #276 "Leaking/Too many open File descriptors in Konnectivity server with GRPC mode and UDS transport"
Hi!

This investigation is joint work we are doing with @ipochi, I’m just opening the issue because it is late in his timezone now :)

We are trying to adopt Konnectivity v0.0.24 and we faced some memory issues when using it in GRPC mode with UDS (unix sockets). In production the mem usage of the konnectivity container was too high and restarted due to that, on several clusters. For now, we switch

[2021-10-29 23:00] jkh52 commented on #276
I've tried to repro this with proxy-server and -agent 0.0.24, and grpc + uds modes.

My scripts are much simpler:

[code]

I am unable to repro the leak so far. I intentionally chose a pod with relatively small logs payload, I'll try a larger one to see if that helps repro.

[2021-11-01 12:04] rata commented on #276
@jkh52 thanks for trying that out. We will continue to investigate and share here any findings we find. Let us know if you have any suggestions or if you do investigate more yourself on this, it will be great! :)

[2021-11-02 12:41] jtherin commented on #273
Why not a ConfigMap ?

[2021-11-02 14:01] ipochi commented on #276
@jkh52

Hi Joseph, thanks for trying it out.

I added a bit of randomness to the scripts you shared and increased the concurrency. I had only nginx deployment in the default namespace (25 replicas)

[code]

[code]

and

[code]

I can see FD's leaking, for example post the end of the script, the number of open file descriptors were `1528`

[2021-11-03 15:48] Tamas-Biro1 opened #283 "Support changing cipher suites"
Feature request: support changing cipher suites with command line flag

Currently Konnectivity server runs with default cipher suites which contains medium strength ciphers such as `ECDHE-RSA-DES-CBC3-SHA` and `DES-CBC3-SHA`. It would be good to have a command line flag where users can configure a more strict cipher list, similar to k8s apiserver flag here: https://github.com/kubernetes/kubernetes

[2021-11-04 21:55] #232 closed

[2021-11-05 00:29] jkh52 commented on #273
Assuming you mean: proxy-server use a ConfigMap (set by a cluster admin or bootstrapping infra) to learn accurate ServerCount. This is unfortunate because then the value is potentially visible to the cluster (even the proxy-agent) when we already have Connect() RPC protocol for the agent to learn server count.

[2021-11-05 08:56] mrlihanbo opened #286 "how many backends can be addded to a proxy server"
Hi, I am interesting in how many backends can be addded to a proxy server? In my scenario, there could be 1000 agents to be registered to a proxy server.

[2021-11-05 22:22] Jefftree commented on #286
There is no hard limit provided the pods have enough resources

[2021-11-08 14:31] rata commented on #107
@Jefftree besides being a possibility we want to disallow/improve, do you happen to know if the k8s apiserver is not doing the right thing now?

[2021-11-08 18:07] #283 closed

[2021-11-08 21:39] #237 closed

[2021-11-09 00:40] #222 closed

[2021-11-09 15:15] relyt0925 commented on #255
Note this is still occuring on the latest master (although not as frequently): Here's an example of one pod that has leaked to 12 Gigs server side with logs
[ks-logs.txt.zip](https://github.com/kubernetes-sigs/apiserver-network-proxy/files/7505846/ks-logs.txt.zip)
[code]

[2021-11-10 16:48] ipochi commented on #276
Hello,

Upon further investigation on the issue we discovered that the possible reason for file descriptor/memory leak could be the idle connections not freeing up the resources.

We tried this on a local setup with debug statements added to collect more information about the connections i.e PacketType’s being passed for each connection id ( e.g PacketType_DIAL_REQ, PacketType_DIAL_RES, PacketType

[2021-11-11 05:23] ipochi commented on #276
Traffic was generated with the script using kubectl [above](https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/276#issuecomment-957641007) and a [cli tool](https://github.com/ipochi/konnscen), getting same results in both.

[2021-11-11 14:19] rata commented on #256
@ydp this seems somewhat similar to #276, but we only tried with kube 1.21. Do you see this:
a. With a recent konnectivity version and kube 1.19?
 b. With kube 1.19 and konnectivity 0.0.12?
c. Any version of konnectivity with kube 1.20+ does it have this problem?

[2021-11-12 09:50] ydp commented on #256
@rata this issue does not reproduce very often for us, will update if we reproduce, thanks.

[2021-11-12 17:41] rata commented on #276
Here is a summary of the current history, based on what @ipochi just mentioned.

To reproduce this issue using kubectl in a cluster with konnectivity using GRPC and UDS, you can do the following:
[code]

After this finishes running you will see the prom metric in proxy-server (go to `http://<proxy-server-ip>:<admin-port>/metrics`):
[code]

The mem usage of proxy-server will increase as you run thi

[2021-11-12 18:39] rata commented on #276
Oh, forgot to add that I also tested this with latest k8s (that uses grpc 1.41) and it doesn't help. I also tried with 1.42 and same results.

However, opened a PR to upgrade grpc here to 1.42, just to stay with the latest fixes: https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/291

[2021-11-12 18:48] rata commented on #256
@ydp thanks! I'm curious to know if you can reproduce with the steps here: https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/276#issuecomment-967297381

[2021-11-14 18:24] relyt0925 commented on #261
Able to still replicate this off of master..... going to get logs and a tcp dump....

[2021-11-14 18:50] relyt0925 commented on #261
[code]

[2021-11-15 06:21] GitHubxsy commented on #194
/remove-lifecycle stale

[2021-11-15 06:22] GitHubxsy opened #292 "Can taffic forward with the policy destHost correctly when proxy connect to two same IP address but different LANs?"

[2021-11-16 23:55] #240 closed

[2021-11-19 14:56] rata commented on #276
With @290 in, I think the remaining steps to close this issue are:
 * Make the improvements to #290  mentioned [here][link]
 * Update k/k to use either 0.0.26 that includes #290 or 0.0.27 with the fixes in ^ too (once we have them :))
 * Catch the other leak. With this fix, instead of leaking 60 or sometimes 600 fds (depends on the run), it seems we know leak ~10 fds (haven't done enough runs yet

[2021-11-24 07:23] YRXING opened #294 "[BUG] The backend ServerMetric is not correct"
As the konnectivity server may has multiple BackendManagers, the `backend` metric should record the total backends stored in various of BackendManager even if we can record them with a label.

However, the `backend` metric is recorded by DefaultBackendStorage, which is the underlying storage implementation. It will result in only some BackendManager record  its number of backends.

The solution is

[2021-11-24 09:36] mihivagyok commented on #261
Hi All!

I have run my tests with the latest v0.0.26 (compiled with golang 1.16.10), and I still see the issue (although it has newer GRPC).

Thank you!
Adam

[2021-11-27 15:38] mainred commented on #294
I don't think it's a bug. It's not only `DefaultBackendManager` that can record the backend but all backend managers _inherit_ `AddBackend` from `DefaultBackendStorage`. Please reconsider this.

[2021-11-29 02:03] YRXING commented on #294
Yes, every backend manager will inherit `AddBackend` method.

What I wonder is that the `DefaultBackendStorage` record `backend` metric through setting their own backends count while the `backend` metric is belong to proxy server. And the backend managers will overwrite each other's values.

For example, the proxy server has two backend managers. One has three backends and the other has five backe

[2021-11-29 06:27] mainred commented on #294
Thanks for your explanation, let's go on with your fix. proxy server is designed to support multiple backend managers, though currently only one is used.

[2021-11-29 11:19] mrlihanbo opened #296 "Support http server without tls for MTLSFrontendServer"
Hi, we connect the front server by http-connect, but the MTLSFrontendServer is running with tls configuration. I wonder can the MTLSFrontendServer run without tls.

[2021-11-30 13:47] rtheis commented on #180
/remove-lifecycle stale

[2021-12-02 17:45] jkh52 commented on #276
@jdnurme started this at https://github.com/kubernetes/kubernetes/pull/106634. That PR could use some help from anyone that understands hack/vendor-update.sh issues.

[2021-12-06 18:31] jkh52 commented on #294
/cc @yan-lgtm
/cc @cheftako

[2021-12-07 19:00] Jefftree commented on #286
/close

[2021-12-07 19:01] #286 closed

[2021-12-09 20:44] Jefftree opened #306 "Do images for proxy-test-client and http-server need to be pushed?"
Our release pipeline currently pushes images for the proxy-test-client and http-server in additional to the required proxy-server and proxy-agent binaries. We're using the proxy-test-client and http-server strictly for local testing currently, do they need to be pushed to the container registry?

[2021-12-09 21:02] cheftako commented on #306
I don't believe so. proxy-test-client and http-server exist specifically to allow us to do testing. So unless our test suites are pulling them in from a reqistry, they should not need to be released.

[2021-12-10 06:10] mainred commented on #306
Agree, and I think we don't have customers using proxy-test-client and http-server, or using konnectivity without kubernetes.

[2021-12-10 06:23] yue9944882 commented on #306
for those who looking for a prebuilt image of {proxy-server,proxy-agent,proxy-test-server/client}, as a workaround we can use `quay.io/open-cluster-management/cluster-proxy:latest` of which the latest release is built over `v0.0.27` of this project.

[2021-12-11 12:46] mainred commented on #296
I don't think it's a hard requirement for an insecure frontend server, if it's for testing only, how about implementing this in your test branch?

[2021-12-13 08:45] ncopa opened #309 "arm docker images missing"
The re are no arm images for version 0.0.27 and it breaks the the k0s build.

https://github.com/k0sproject/k0s/runs/4489019305?check_suite_focus=true

It would be nice to be able to update to 0.0.27 for todays k0s bugfix release.

[2021-12-15 11:44] ipochi opened #311 "Idle connections are stuck after establishing connection. They never send PacketType_DATA"
While exploring more on issue #276, it was noticed that the idle connections are somehow stuck in a weird state where the connection is established i.e the kube-apiserver receives a DIAL_RSP from the proxy-server, but then thereafter there is complete inactivity  from the apiserver i.e no packets of PacketType_DATA are sent.

In order to reproduce this, I added some debug statements to the `konnec

[2021-12-15 13:02] ipochi commented on #276
Solution to terminate idle connections and stop leaking of file descriptors is proposed via #312.

Instead of terminating idle connections by settings `MaxConnectionAge` and `MaxconnectionAgeGrace` which would close all grpc connections regardless of the activity status, this solution only closes those connections/stream that are lying idle consuming resources.

[2021-12-22 00:59] #306 closed

[2022-01-03 13:24] rtheis commented on #236
/remove-lifecycle stale

[2022-01-05 11:57] rastislavs commented on #309
It seems that the support for ARM was removed by this commit: https://github.com/kubernetes-sigs/apiserver-network-proxy/commit/1c2dcc7aa58de993b79637d943d1878f7de9c000

I second to this request, I think arm / arm64 images should be published by default.

[2022-01-06 09:03] ipochi commented on #309
This was done temporary as per the comment in the #304. I wonder if that's still the case.
If not I'd like to pitch in to the needful to get it done

/cc @Jefftree @cheftako

[2022-01-07 16:34] justinsb opened #315 "Are multiple DIAL_REQs valid?"
I was reading through the code, and trying to understand the protocol in use.  I think we're lacking a bit of documentation on the semantics.

First, I think that there are two different protocols, sharing the same messages.  One is for client->server, one is for agent->server.

Also, I think for the client -> server communication, a single DIAL_REQ message must be the first message from the clien

[2022-01-07 22:14] cheftako commented on #315
Mostly correct, there are segments for the tunnels, which can each have different protocols.

Agent -> Server communication is currently always grpc and allows multiple DIAL_REQ messages (multiplexing).
Client (KAS) -> Server communication is as follows.
- http-connect: uses the http connect verb/standard protocol which only supports a single DIAL_REQ.
- grpc: Theoretically supports multiple DIAL_

[2022-01-10 07:54] soider opened #316 "Server running with --proxy-strategies=destHost panics even if agent has correct --agent-identifiers"
If we use "--proxy-strategies=destHost" argument given to the proxy server, the server panics on Connect from the agent.

The problem is in the [pkg/server/server.go:ProxyServer:addBackend](https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/master/pkg/server/server.go#L191) method.

The mentioned method never returns any value for the DestHostManager.

It is workarounded in the fork w

[2022-01-11 12:06] zqzten commented on #273
+1 for this feature

For server side, I wonder if we can find a way for servers to communicate with each other to dynamically get the replica count rather than depending on explicit external config.

[2022-01-13 04:49] yue9944882 opened #318 "Flatten go mod"
the replace directive will propagate to any project importing packages from this project. can we converge the konnectivity client package's go mod file with the root?

https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/31f6ed8cbb08a2d16cc80eb3f4344db6354b84fb/go.mod#L57

[2022-01-18 11:55] rata commented on #311
@ipochi is it possible that you tested this without https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/290 ? I think that might be the case and that is why it seems the dial rsp was received, although it was an invalid one. Let me elaborate.

The diff of the k8s code you show doesn't include the return added in PR #290 and, if you look carefully at this part of the diff you pasted:

[

[2022-01-19 21:50] Jefftree commented on #318
What are your use cases for importing packages from the project? Other than konnectivity client, this project was originally designed to run as a standalone binary and not as a library so we have some assumptions baked into the go mod structure. We'd like to keep any imports strictly to the konnectivity client library to avoid the problem you described.

See https://github.com/kubernetes-sigs/apis

[2022-01-19 21:55] Jefftree commented on #309
Yes this was a temporary measure because the original arm64 published was incorrect. The fix should be to just add back arm64 to the RELEASE_ARCH_LIST (https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/master/Makefile#L17)

[2022-01-20 09:20] irozzo-1A commented on #171
/reopen

[2022-01-20 10:18] timoreimann commented on #171
/reopen

[2022-01-20 10:19] irozzo-1A commented on #171
thx @timoreimann ;-)

[2022-01-24 15:48] mihivagyok opened #319 "basic validation with GRPC with error logs"
Branch:
master

Env:
[code]

Problem:
I'm executing the basic test commands for Konnectivity:
https://github.com/kubernetes-sigs/apiserver-network-proxy#grpc-client-using-mtls-proxy-with-dial-back-agent

Client reports success, but my problem is that both server and agent report many errors during this basic GRPC scenario:
- server errors:
[code]
- agent
[code]

I know that for the agent error log

[2022-01-25 16:09] rastislavs commented on #309
Just opened the PR with that: https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/320

[2022-01-26 09:22] irozzo-1A commented on #177
/remove-lifecycle rotten

[2022-01-27 02:53] andrewsykim commented on #276
@ipochi @rata I've been trying to reproduce this issue but no luck, maybe you can shed some light and help me reproduce it.

Here's the script I'm using, it's mostly identical to the original scripts you shared with some minor tweaks:
[code]

After running this a few times, I checked the metrics endpoint of proxy server :
[code]

Checking /proc/<pid>/fd directly also shows similar results.

[2022-01-30 21:43] relyt0925 commented on #180
/remove-lifecycle stale

[2022-02-01 06:22] #309 closed

[2022-02-02 11:36] rata commented on #276
@andrewsykim sorry for the delay, I was sick :(

I think you are seeing the issue. Probably you are running from latest master or a tree that includes #290 and since that commit the fd leak is not _so_ big. But you are seeing 4 `konnectivity_network_proxy_server_grpc_connections` and 22 fds, that is the leak. The `konnectivity_network_proxy_server_grpc_connections` should be 0 (at least after some

[2022-02-07 16:57] andrewsykim commented on #255
/remove-lifecycle stale

[2022-02-07 16:58] andrewsykim commented on #255
@relyt0925 which commit is your image based off of, it's hard to tell from the manifest you shared because it's just the image SHA

[2022-02-15 02:59] andrewsykim commented on #268
/remove-lifecycle rotten

[2022-02-15 03:01] andrewsykim commented on #268
re: https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/268#issuecomment-945233248

Are you able to verify quickly if the agents are close to using their CPU limit? Just to rule out if CPU contention is the issue

[2022-02-15 10:27] ydp commented on #268
Hi @andrewsykim this limits is set in our product, and delivery to customer's env for a long time, it does not look like an cause of the issue, this happens because we try to migrate CNI from flannel to Antrea, and when the network partitioned by 2 different networks, the metrics server start to be broken, and eventually causes the ANP hang.

I can setup a env to reproduce it, but it takes some ti

[2022-02-15 10:33] ydp commented on #268
@andrewsykim  btw, are you happen to work on this project on google now? Nice to know that!

[2022-02-15 16:44] andrewsykim commented on #268
This would be useful. Can you share logs from server/agent when you're able to reproduce it?

[2022-02-17 10:05] ydp commented on #268
Hi @andrewsykim I reproduced the issue, but I cannot see any info from the logs, please see the attached file.

[proxy-server.stderr.log](https://github.com/kubernetes-sigs/apiserver-network-proxy/files/8087631/proxy-server.stderr.log)

[proxy-agent.log](https://github.com/kubernetes-sigs/apiserver-network-proxy/files/8087633/proxy-agent.log)

[2022-02-17 15:40] andrewsykim commented on #268
What's the log level for those logs?

[2022-02-17 17:09] mihivagyok commented on #316
@soider Could you please share how do you configure the server and agent?
I understand that there is no return value, and it could be a problem, but I don't see the panic you are reporting.

Do you use the latest version?

Thanks,
Adam

[2022-02-17 17:15] mihivagyok commented on #261
@cheftako @andrewsykim @jkh52

I commented on #324 , but let me repeat it:

I think we have some idea why kubectl cp fails eventually: the issue comes when we have multiple proxy strategies. The backend (agent) connections are guarded by mutex. But if there are multiple strategies then the same backend with the same connection will be registered to multiple backend managers. To illustrate this:

[

[2022-02-17 17:43] andrewsykim commented on #261
@mihivagyok I was able to reproduce the issue w/ kubectl cp. But testing #324 doesn't seem to fix the issue I'm seeing. It's possible I'm running into a different issue from what you're seeing though. I'm only using the default strategy in this case.

Is it possible for you to test kubectl cp on a cluster using only 1 backend strategy to test your theory?

[2022-02-17 18:07] mihivagyok commented on #316
Hi! Okay I have tested with only destHost strategy, and it works fine for me. That's why I'm asking. Do you have time to try again with latest versions and post some logs and full config?

Thanks,
Adam

[2022-02-17 18:13] mihivagyok commented on #261
@andrewsykim Yes, there could be several leaks :)

So we have already tested with single and multiple strategies, and we came to the conclusion that the hanging stream/kubectl cp issues are happening only when we have multiple proxyserver strategies.

cc @Tamas-Biro1

Thanks!
Adam

[2022-02-18 16:15] andrewsykim commented on #276
An interesting observation I noticed while trying to reproduce this issue is that restarting Konnectivity Server will not completely clear the open files and goroutines. So if I restart just proxy server and immediately check the goroutine and open files count, it's a bit lower but still very high. But if I restart kube-apiserver, I see the goroutines and open files reset across both components. S

[2022-02-18 16:24] andrewsykim commented on #255
Reposting from https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/276#issuecomment-1044774850:

An interesting observation I noticed while trying to reproduce this issue is that restarting Konnectivity Server will not completely clear the open files and goroutines. So if I restart just proxy server and immediately check the goroutine and open files count, it's a bit lower but still

[2022-02-18 16:25] andrewsykim commented on #255
@Tamas-Biro1 in your cluster do you also see kube-apiserver memory spike in a similar pattern or is it only ANP server/agent?

[2022-02-18 17:34] rata commented on #276
@andrewsykim thanks! We've noticed the same (if you dig into the comments, I think me or @ipochi mentioned it). I think we've seen other weird things too, like if you kill the proxy-server for some minutes, then you start it again and it start with even more fds than just before killing it (it seems like konnectivity client is retrying with more connections, until the proxy server is up and all th

[2022-02-18 17:43] andrewsykim commented on #276
Yeah I see this too, and sorry for missing your comments above.

[2022-02-18 18:46] mihivagyok commented on #255
@andrewsykim We are using Konnectivity with http-connect configuration, and NOT GRPC mode. I think the konnectivity-client is only for GRPC, is it right?

Of course, we could check, but then please share the commands you are interested and make it comparable.

Thanks,
Adam

[2022-02-18 21:27] andrewsykim commented on #276
Ran some more tests against https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/325 which wasn't very promising.

However, I got some pretty promising results from https://github.com/kubernetes/kubernetes/pull/108215, which does seem to explain a lot of behaviors we're seeing when proxy-server is restarted. Reposting from the PR:

After some investigation and testing, the goroutine lea

[2022-02-19 10:44] timoreimann commented on #171
It's that time of the quarter again

/reopen

[2022-02-22 16:14] rata commented on #276
@andrewsykim thanks! That might help, I was trying it with a local kube cluster here but with the dockershim deprecation and some CNI issue, it is not starting. I'll have a closer look, but if not I might try to run an actual cluster with those images.

[2022-02-22 16:16] rata commented on #276
@andrewsykim so, you see the `konnectivity_network_proxy_server_grpc_connections{service_method="Proxy"}` and `process_open_fds` stay the same after/before running the repro [here][link]?

[link]: https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/276#issuecomment-1022797259

[2022-02-22 17:04] rata commented on #276
Hmm, that seems like a leak. The `konnectivity_network_proxy_server_grpc_connections{service_method="Proxy"}` metric should return to 0 if we are not tunneling any connection. We need to wait approx 1.5 min, so some timeout kicks in and kills some, but that seems to be leaking grpc connections :(

The number of open fds is also quite high (at startup is aroun 13). I bet that if you look at the fds

[2022-02-22 17:19] andrewsykim commented on #276
Sorry, when I shared those metrics I was still running tests on the cluster. These are the metrics after the tests have stopped for a bit:
[code]

Note that there are some requests that are still going through the proxy that I didn't disable, like metrics server requests

[2022-02-24 04:34] andrewsykim opened #330 "[flaky test] TestFailedDial_HTTPCONN is flaky"
I've seen `TestFailedDial_HTTPCONN` flake out a few times now with:
[code]

More details logs can be found from this run https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_apiserver-network-proxy/329/pull-apiserver-network-proxy-test/1496605799353421824

[2022-02-24 11:47] rata commented on #276
@andrewsykim No, none seem to fix this issue at all :(

I tested with patches:
 * https://github.com/kubernetes/kubernetes/pull/108215
 * #328
 * #325

I used ANP master and applied the aforementioned konnectivity-client patches to the k8s build. The build is latest k8s master, so it does include #290 too.

If I run the script [here][link], I see the `konnectivity_network_proxy_server_grpc_connect

[2022-02-24 12:02] rata commented on #276
Also, I wonder that if [this comment from @cheftako ][link] that is still not addressed, in particular the item 1 that is mentioned, might be the remaining leak (not real evidence, just a hunch). After all, that fix in #290 reduced this leak _a lot_, if there are associated connections that needs to be closed in that case too, it might be the remaining leak.

@andrewsykim I'm not sure how the patc

[2022-02-24 13:09] ipochi opened #332 "grpc multiple http/2 connections"

[2022-02-24 13:16] #332 closed

[2022-02-24 14:51] andrewsykim commented on #276
Thanks for reporting back @rata. Yesterday I was also able to reproduce some remaining leaks with those patches as well but not clear yet if it's the same leak you're seeing. I'll look into Walter's comment in that PR as well.

The leak I reproduced yesterday was when I was trying to reproduce the issue described here https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/324. From the pp

[2022-02-24 15:28] andrewsykim opened #333 "Add tests for goroutine leaks"
In https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/325 and https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/328, I experimented a bit with using the [goleak module](https://github.com/uber-go/goleak) to test fixes for various goroutine leaks we're seeing. I opted to remove those tests to play it safe with our go modules since konnectivity-client needs to be back-port

[2022-02-24 16:34] rata commented on #276
@andrewsykim thank you! Keep us posted if you have any other findings, please!

I also have 1m as keepalive, I'm starting the proxy-server like this:

[code]

I don't see that semaphore stucked here. Here is the full dump using that curl command, in case I'm missing something: https://pastebin.com/ptZ3jDqB

I've run pprof for the goroutines and found more evidence that the go-routines are just sit

[2022-02-25 16:52] andrewsykim commented on #276
The former might be expected if kube-apiserver doesn't call Close() on the connection, which is dependent on various things like default keepalives for a connection and how client-go handles net.Conn from `Dial()`. Maybe one way to rule this out is to restart kube-apiserver and see if that resets all the connections for proxy server too. If the issue was stream.Recv() getting stuck, it probably wo

[2022-02-25 17:36] andrewsykim opened #335 "proxy->agent send stream is blocked due to flow control write quota, leading to goroutine leaks"
While investigating https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/276, I ran into anoter goroutine leak on proxy server that can happen when sending messages to a backend.

From the goroutine dump, this was the stack trace for the leaking goroutine:
[code]

backend.Send() is lock protected, because we can only call Send() on a stream from a single goroutine (see go docs for Sen

[2022-02-25 17:43] mihivagyok commented on #335
This would help the RecvMsg issue, what do you think? https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/310
Thanks!
Adam

[2022-02-25 17:51] andrewsykim commented on #335
I'm not sure yet -- one way I reproduced this issue is by setting a really low memory limit on the agent, triggering OOM-kills. My theory is that when agent is OOM-killed the stream is left open and runs out of quota because agent is no longer calling RecvMsg(). I don't know yet why the stream wouldn't just close if agent restarted, especially with server-side keepalives enabled on proxy server. B

[2022-02-25 18:04] mihivagyok commented on #335
My experience with the agent limits, that it needs more CPU then memory. If there are many webhooks (e.g. istio), low CPU limit could cause severe issues in the cluster. That's why we don't limit CPU on the agent. But we have memory and CPU limit on the server.

Thank you!

[2022-02-25 18:10] andrewsykim commented on #335
True, I guess in the case where agent is CPU limited, https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/310 would be useful

[2022-02-28 14:40] rata commented on #276
@andrewsykim good idea. Killing the apiserver makes the metric go down back to 0: `konnectivity_network_proxy_server_grpc_connections{service_method="Proxy"} 0`. So, probably a missing close on the konn-client or apiserver side is what we are after here.

Just curious, did you manage to repro this, then?

One easy way you can try, is the following (@ipochi realized about just using the proxy-serve

[2022-02-28 15:51] andrewsykim commented on #276
I'm not 100% sure to be honest -- I have seen a handful of connections lingering around but I can't determine if it's expected due to some on-going webhook requests (like metrics server) or due to a leak. This is also going into some client-go level details that are hard to debug. I will try the steps you mentioned to try to reproduce the issue.

[2022-02-28 15:57] andrewsykim commented on #276
Can you share the egress selector config you used here?

[2022-03-01 05:09] andrewsykim commented on #276
@rata I'm able to reproduce your leak now, thanks for the detailed steps.

If I run run.sh a few times, I do see goroutine/connections created that are never cleaned up. I think I was also able to pin point where the leak is as well, but would appreciate your help validating the fix.

It seems like there is a race condition that could happen when receiving from the pending dial channel after sendi

[2022-03-01 05:40] andrewsykim commented on #276
From my initial testing so far, it seems like just using an unbuffered channel that blocks on receive works: https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/337.

I tested this by running ./run.sh multiple times and seeing the Proxy connections always goes down to 0 after a couple of minutes:
[code]

Interesting note: regardless of # of requests sent to kube-apiserver, there are al

[2022-03-01 12:17] rata commented on #276
@andrewsykim The explanation makes perfect sense to me, and indeed the PR seems to fix this bug for me too! Thanks a lot, great catch!

I also always saw the 2 connection that stay longer (I think I mentioned in this issue before too), but I never saw those become a problem, so haven't stopped to debug why that behavior happens. If you do, please let me know, I'm curious. It seems to be quite clos

[2022-03-01 15:25] rata opened #338 "Proxy() goroutine leaks when serveRecvFrontend() finishes without receiving EOF"
While working on #276 I saw some possible issues that weren't hit in practice with my repro, but that seems worth highlighting and probably fixing. I'm opening this issue to know what maintainers think of this.

The thing is that [Proxy starts a goroutine for serveRecvFrontend()][serveRecvFrontend] and just wait until [it receives something on the stopCh][proxy-ret]. Only the goroutine created in-

[2022-03-01 16:16] andrewsykim commented on #276
Thanks for testing @rata, and again thanks for the reproduction steps.

After thinking about this PR more, I don't think we need it because the goroutine leak was only reproducible in the test because the http client in the test was not calling conn.Close(). Will close it for now

[2022-03-01 16:57] rata commented on #276
I'd like to keep this open, though (or I can open a new one, the same for me) to tackle some of the other things listed [here](https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/276#issuecomment-974141778).

I'm interest to know if we can add some "big hammer" to kill inactive connections and work-around these leaks from proxy-server side. This will help in cases where you need to r

[2022-03-01 17:35] andrewsykim commented on #276
@rata let's open a new issue for any new/remaining leaks that come up since they may not be specific to the gRPC mode w/ UDS.

[2022-03-01 19:32] andrewsykim commented on #276
@rata closing this now that https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/337 is merged. I'll also work on the k/k bump as soon as the release is cut. Please feel free to open a new issue for the other issues you mentioned above.

/close

[2022-03-01 19:32] #276 closed

[2022-03-02 01:36] andrewsykim commented on #276
Update to Kubernetes is here https://github.com/kubernetes/kubernetes/pull/108437

[2022-03-03 11:10] rata commented on #276
For completeness, this is for k8s master: https://github.com/kubernetes/kubernetes/pull/108437

[2022-03-03 17:33] andrewsykim opened #340 "Goroutine leak in konnectivity-client if transport is closed before CLOSE_RSP is received"
In https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/325 it was discovered that a goroutine in the konnectivity-client is possible if the transport is closed before a CLOSE_RSP is received. `TestProxyHandle_SlowContext_GRPC` in particular can reproduce this issue:
[code]

We should revisit https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/325 at some point and fix this

[2022-03-07 16:29] #333 closed

[2022-03-14 15:26] andrewsykim commented on #256
@ydp I'm gonna close this PR given the following fixes have merged around this issue:
* https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/328
* https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/337
* https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/339

If you still continue to see leaking open files after these patches feel free to re-open the issue. Not

[2022-03-14 15:26] andrewsykim commented on #256
/close

[2022-03-14 15:26] #256 closed

[2022-03-14 16:05] andrewsykim commented on #256
Oh you're right, sorry I just assumed it was grpc since we referenced https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/276

[2022-03-16 01:08] ydp commented on #256
Just update: this issue is not easy to repro in the first place, and we do not see it recently.

[2022-03-16 09:42] rata commented on #256
@ydp Thanks. Can you confirm with which versions you don't see it?

[2022-03-17 03:32] ydp commented on #256
The latest version we're using is v0.0.22

[2022-03-17 13:56] andrewsykim opened #346 "Release v0.1.0?"
Up to this point we've been making releases against `master` and haven't bumped the minor version yet. This was fine in the earlier stages of development, but as we're approaching a more steady rate of features, refactors and bug fixes it might be useful to start managing release branches and cut a v0.1.0 release where we only backport bug fixes.

I personally think that now is a good time to cut

[2022-03-17 14:44] rata commented on #346
@andrewsykim I think it is a good idea, but of course it will imply more overhead.

I think, for simplicity I'd prefer to continue to release konn-client and proxy-server/agent in lockstep, so we don't have to select which patches are safe with older konn-client versions and which aren't, etc. Just have one k8s release use one konn-client minor (let's say 0.1.0) that will be maintained alongside p

[2022-03-21 11:25] timoreimann commented on #171
/reopen

[2022-03-31 15:01] andrewsykim opened #349 "Using --sync-forever results in agents calling Connect() in an infinite loop"
https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/285 introduced a new flag called `--sync-forever` on the agent, which allows for dynamically updating the server count returned from the server to the client. However, enabling `--sync-forever` results in the agent calling `Connect()` repeatedly, which is evident from the "Connect to" messages in the following logs:
[code]

It seems u

[2022-03-31 16:00] andrewsykim commented on #349
@cheftako any ideas if this is expected behavior when using `--sync-forever`?

[2022-03-31 16:54] cheftako commented on #349
The agent calling Connect() repeatedly (forever) is expected. However it should not effect the existing streams/tunnels. It should not be possible to change the stream to a server mid-flight. The handshake is supposed to always cancel the new connection/stream when it realizes this is a connection/stream to an already connected server.

[2022-04-04 11:13] rtheis commented on #236
/remove-lifecycle stale

[2022-04-07 12:26] janiskemper commented on #273
+1 - would be very useful for clusters managed by Cluster API

[2022-04-11 14:11] andrewsykim commented on #349
Closing this issue since this seems to be working as expected.

[2022-04-11 14:11] #349 closed, assigned to nobody

[2022-04-11 19:13] cheftako opened #350 "Need a way to seamlessly rotate the Proxy Server Certs on the Agent side."
The Proxy Server is authenticated to the agents via its certificate. The KAS (K8s API Server) handles this by dynamically setting the appropriate certificate based on the SNI in the incoming handshake request. It would seem good if were to do the same for the Proxy Server. This would allow the Proxy Server to properly advertise its authentication materials (both the old and new certs) during a cer

[2022-04-11 19:45] andrewsykim commented on #346
Proposal on how to proceed with this:
* Cut a release-0.1.0 branch off of master now
* Merge any outstanding bug fixes to master and also backport to release-0.1
* Cut v0.1.0 off of release-0.1
* Start merging any approved feature PRs to master

[2022-04-13 15:26] andrewsykim commented on #346
@jkh52 @cheftako thoughts?

[2022-04-13 15:32] andrewsykim opened #352 "Lint is failing in pre-submits"
Our lint check in pre-submit is failing with the following error:
[code]

e.g. https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_apiserver-network-proxy/341/pull-apiserver-network-proxy-make-lint/1514261980213415936

I suspect this is because our [prow jobs using the kubekins image](https://github.com/kubernetes/test-infra/blob/7379b6e64578bffb60c43517d81968b162b10449/con

[2022-04-14 08:25] #292 closed

[2022-04-14 14:50] andrewsykim commented on #352
Opened https://github.com/kubernetes/test-infra/pull/25962 if we decide to switch prow jobs back to v1.17, but we can close it if we choose to upgrade to go 1.18 instead

[2022-04-18 16:29] andrewsykim commented on #311
@ipochi any chance we can test this again with the recent fixes that merged?

[2022-04-18 18:16] jkh52 commented on #346
I may be in minority but: I would keep things as-is, and make sure we immediately revert  / stabilize if tests show impact.

If we do branch: what's the lifetime of these branches? i.e. when would 0.1.0 be stale / unsupported? Is there a correspondence to k/k minor version?

[2022-04-20 12:27] timoreimann commented on #171
/reopen

[2022-04-20 14:17] parmentelat opened #354 "struggling with konnectivity"
We have resources spanning 2 subnets
A. a production subnet that has public IPs
B. an experimental subnet that is not publicly addressable, and that sits behind a NAT

We have deployed a k8s cluster with its master node on A - following the guidance found in https://kubernetes.io/docs/tasks/extend-kubernetes/setup-konnectivity/

With our current setup it is possible for the nodes in B to join the

[2022-04-20 14:44] parmentelat commented on #354
I should have mentioned that 192.168.3.x is, of course, the NAT'ed private address on the the B side

[2022-04-20 16:56] andrewsykim commented on #354
From this error, it seems like the konnectivity agent on B is not able to connect to any of the nodes on B. Kubernetes' log functionality goes through kubelet which is `192.168.3.1:10250`. Can you confirm that networking works between the pod and the node by running `ping`?

[2022-04-21 12:23] parmentelat commented on #354
Hi
I have investigated further, and figured out that the konnectivity-agent pod was not properly running on the B node, with this error

[code]

and from the B node's point of view here's the output of
[code]

Obviously there is something quite wrong in my setup !

Can you please help me make sense out of these messages ?

[2022-04-21 15:04] parmentelat commented on #354
I have investigated this further, and found and fixed a couple glitches in our setup along the way (missing rbac configuration was preventing konnectivity deploment; port 8132 was being firewalled from B to A)

at this point what I observe is this
* I rebuilt the cluster from scratch, with one master node on the A side, and one worker node on the B side
* I can check the konnectivity agent gets ac

[2022-04-21 15:13] parmentelat commented on #354
PS

all the nodes involved are set up using fedora35+CRI-O as the container runtime
I have found mentions of the `10.85.0.0` block in the CRI-O repo here
<https://github.com/cri-o/cri-o/blob/main/contrib/cni/10-crio-bridge.conf>

[2022-04-21 15:30] parmentelat commented on #354
this is with flannel

[2022-04-21 15:32] andrewsykim commented on #354
Is it possible you have two CNIs configured in your cluster by accident?

[2022-04-21 15:37] parmentelat commented on #354
mmh, I guess if that was the case I would see the corresponding pods in `kubectl get pods -A` but here's what I have

[code]

so I would tend to answer no

[2022-04-21 15:43] andrewsykim commented on #354
So konnectivity doesn't actually overlap with CNI in anyway. So if you see `FailedCreatePodSandBox` errors on the `kiada-fit01-pod` pod, it seems unrelated to the network proxy and something to do with the CNI configuration of the cluster.

It seems like you do have pods that are working well though, is it possible that some nodes are misconfigured but others are not? Is `kiada-fit01-pod ` on a di

[2022-04-22 10:57] parmentelat commented on #354
I figured out a piece of the puzzle
what was happening yesterday was that the node on the B side was running a fedora image where `/etc/cni/net.d/` was pre-populated with stuff from the crio rpm

[code]

and the `10.85.x.x` thingy that I was seeing was coming from `100-crio-bridge.conf`
removing these files before joining the cluster helped sanitizing things further

---
I'm still experiencing the

[2022-04-22 11:08] parmentelat commented on #354
@andrewsykim
in your initial answer you were saying

not quite sure what you meant there ? pod meaning the konnectivity-agent pod on the B side, right ? and the node I take it would be the NAT'ed address 192.168.3.x ?
also it looks like the konnectivity-agent image has a very low footprint and does not have `/bin/bash` nor `/bin/ping`, so how can I run this test ?

as you can see I am relatively n

[2022-04-27 08:59] mrlihanbo opened #355 "bug: return 200 when no tunnels available"
The code [here](https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/969e4069465bd4ee932ee7dece4a35a6657c1059/pkg/server/tunnel.go#L81) seems not work. Maybe we can't write response to `w` after Hijacker.

[2022-05-02 10:57] rtheis commented on #180
/remove-lifecycle stale

[2022-05-02 23:45] #340 closed

[2022-05-05 11:12] ipochi commented on #311
Thanks @andrewsykim for the fixes. I'll be looking into it sometime next week and circle back on results.

[2022-05-05 12:07] ipochi commented on #311
UPDATE:

I still see many idle connections are stuck after establishing connection.

I followed the above reproducing steps on v0.0.30 tag.

In all there were 1412 dial requests were sent, as identified by
[code]

Out of which 90 were missing close responses and none of those 90 connections had send PacketType_DATA
[code]

[code]

[2022-05-05 12:52] rata commented on #311
@ipochi sorry, but which Kubernetes version are you using? That is a key thing, as the bug fixes are the vendored files from k8s. It will be good to make sure the k8s version you are using contains all the ANP fixes

[2022-05-13 21:21] jkh52 commented on #346
/assign @cheftako

[2022-05-19 11:51] ipochi commented on #346
I agree to some extent with @jhk52

Perhaps more importantly comb issues/PRs and tag them whether they are breaking changes/ priority/impact and then decide whether it makes sense to cut a v0.1.0 release ?

[2022-05-22 06:43] timoreimann commented on #171
/reopen

[2022-05-24 01:49] ash2k opened #357 "Issues with CreateSingleUseGrpcTunnel"
1. `CreateSingleUseGrpcTunnel()` does not allow to use different contexts for dialing and connection lifetime control. There seem to be no way to shut the tunnel down.
2. Context cancellation/timeout in `grpcTunnel.DialContext()` doesn't interrupt any I/O, doesn't signal to the `serve()` goroutine in any way. This is suspicious and is possibly a source of connection leaks.

See this thread and PR

[2022-05-24 07:21] rastislavs commented on #261
/remove-lifecycle stale

[2022-05-24 23:23] jkh52 commented on #355
Note: this is http connect, not grpc.

[2022-05-24 23:23] jkh52 commented on #355
/cc @cheftako

[2022-05-26 10:55] irozzo-1A commented on #177
/remove-lifecycle rotten

[2022-05-31 12:03] zqzten opened #358 "Improve dynamic server count detect logic of agent"
Currently if we want the agent to dynamic detect the server count change, we have to enable the `syncForever` mode, however, with this mode on, agent just call the `Connect` method of server constantly, and for most cases it just grap the sever count and close the connection (since the server count is not chaging that frequently). This cause a lot of garbage error log (specifically `server.go:767]

[2022-06-01 11:54] rata commented on #338
/remove-lifecycle stale

[2022-06-06 23:04] #315 closed

[2022-06-14 16:16] jnummelin opened #362 "Allow to configure bind address for server"
On multi homed machines it would be nice to be able to define the bind address for server. As there's multiple listeners (admin, metrics, agents) I'd guess we want to allow different addresses to be used for all of these and thus follow the same pattern as with agent.

So what if we add following options to server:
- `agent-bind-address`: The address we listen for agent connections on.
- `admin-bi

[2022-06-15 15:08] rastislavs commented on #319
/remove-lifecycle rotten

Similar issue on `v0.0.31` (with https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/317 already included, but https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/353 not yet included). During standard operation (no issues at all), the following error logs regularly appear in server / agent logs:

server:
[code]

agent:
[code]

[2022-06-18 23:55] #318 closed

[2022-06-21 11:38] timoreimann commented on #171
/reopen
/remove-lifecycle rotten

[2022-06-23 22:43] tallclair opened #366 "Add benchmarks & stress tests"
I think this project is currently lacking benchmarks and stress tests. These tests can be useful for identifying major regressions and issues. Some ideas of tests I'd like to see:

- [ ] Single high-throughput connection
    - [ ] Agent &rarr; Proxy server
    - [ ] Agent &larr; Proxy server
    - [ ] Agent &lrarr; Proxy server (bidirectional)
- [ ] Multiple high-throughput connections
- [ ] High

[2022-06-24 20:45] cheftako commented on #357
/open

[2022-06-24 20:46] cheftako commented on #357
/reopen

[2022-07-04 08:12] mcginne commented on #236
/remove-lifecycle stale

[2022-07-04 13:55] #311 closed

[2022-07-05 22:16] cheftako opened #367 "Unsafe early return from ProxyToRemote in Agent"
https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/v0.0.32/pkg/agent/client.go#L560 is an unsafe return. If the dataCh channel is full it means that the remoteToProxy method could block at https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/v0.0.32/pkg/agent/client.go#L71. We should ensure that the channel is empty and closed before returning.

[2022-07-12 01:02] justinsb commented on #366
This is a great list.   If I was adding one scenario, I would add the "unexpected close" scenario.  I think this happens in the real world with a webhook if kube-apiserver closes the connection after a timeout.  Also (in the other direction) if the webhook crashes I think that should also yield a close at an unexpected place in the message flow.

[2022-07-12 08:48] PratikDeoghare opened #370 "proxy-server container gets OOM killed repeatedly preventing exec/log commands from working"
1. `proxy-server` container gets OOM killed repeatedly preventing exec/log commands from working.

[code]
2. This "impossible" message also appears in the logs many times.
[code]

**Versions:**
[code]

**Related issues:** https://github.com/kubernetes-sigs/apiserver-network-proxy/issues/276.

**Reproduction:**
Our customer was able to reproduce it using https://github.com/kubernetes-sigs/apiserver

[2022-07-12 14:57] ipochi commented on #370
@PratikDeoghare

Can you confirm the version of the Kubernetes used ?
A lot of memory issues were fixed in subsequent releases to the `konnectivity-client` vendored in Kubernetes.

[2022-07-17 17:15] #268 closed

[2022-07-17 20:17] #316 closed

[2022-07-24 05:29] #330 closed

[2022-07-25 19:41] #335 closed

[2022-07-28 20:57] tallclair commented on #366
/assign

[2022-08-01 11:28] rtheis commented on #180
/remove-lifecycle stale

[2022-08-04 05:57] ipochi opened #372 "New Tag v0.0.33"
Hi @cheftako

It seems there are important PRs merged since the last tag to be considered for a new tag:

The following PR's have been merged

#371 from ncopa/go-1.17.12
#368 from cheftako/earlyReturn
#369 from tallclair/warn-on-channel-limit
#364 from rastislavs/fix-agent-conn-close
#365 from rastislavs/fix-server-error-logs

[2022-08-04 16:31] tallclair opened #373 "Logs observed in proxy server with connID=0"
Examples:

- [server.go:721](https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/v0.0.27/pkg/server/server.go#L721) `"DIAL_RSP contains failure" err="dial tcp 10.12.1.4:443: i/o timeout" dialID=8897718490787564857 agentID="dbfdab43-278f-4258-836a-22cbacca1764" connectionID=0`
- [server.go:761](https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/v0.0.27/pkg/server/server.go#

[2022-08-05 17:50] tallclair opened #375 "Flaky Test: TestProxy_LargeResponse"
completed 10000 runs in 24m45s with 8 failures (0.08%)

Ran with `stress ./tests.test -test.cpu=4 -test.run=TestProxy_LargeResponse`

Looks like goroutine leaks:
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2022-08-05 18:08] tallclair opened #376 "Flaky Test: TestFailedDial_HTTPCONN"
completed 10000 runs in 23m7s with 11 failures (0.11%)

Ran with `stress ./tests.test -test.cpu=4 -test.run=TestFailedDial_HTTPCONN`

First 10 failures:
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2022-08-05 18:12] tallclair opened #377 "Flaky Test: TestBasicProxy_GRPC"
completed 10000 runs in 22m52s with 123 failures (1.23%)

Ran with `stress ./tests.test -test.cpu=4 -test.run=TestBasicProxy_GRPC`

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2022-08-05 18:13] tallclair opened #378 "Flaky Test: TestConcurrentClientRequest"
completed 10000 runs in 21m12s with 759 failures (7.59%)

Ran with `stress ./tests.test -test.cpu=4 -test.run=TestConcurrentClientRequest`

First 10 failures:
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2022-08-05 18:16] tallclair opened #379 "Flaky Test: TestProxyHandle_SlowContext_GRPC"
completed 10000 runs in 1h23m51s with 36 failures (0.36%)

Ran with `stress ./tests.test -test.cpu=4 -test.run=TestProxyHandle_SlowContext_GRPC`

All failures look the same:
[code]

[2022-08-08 13:22] ipochi commented on #372
It seems there are few HIGH CVE's in the latest master

[code]

[code]

[2022-08-10 01:09] tallclair opened #382 "Flaky Test: TestDialAfterTunnelCancelled (race condition)"
Observed in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_apiserver-network-proxy/380/pull-apiserver-network-proxy-test/1557157130442641408
[code]

[2022-08-12 18:10] #378 closed

[2022-08-12 23:11] tallclair opened #383 "Expose gRPC `MaxConnectionIdle` configuration"
The gRPC [server KeepAlive params](https://pkg.go.dev/google.golang.org/grpc/keepalive#ServerParameters) include
[code]

This could be a useful knob to expose through configuration for mitigating connection leaks.

[2022-08-18 13:27] ipochi commented on #358
@cheftako @tallclair

I'd be interested to know more about what others in the community feel regarding this and is there a scope/priority for a better solution ?

I'd like to collaborate with relevant folks and formulate an approach.

[2022-08-18 21:32] tallclair opened #388 "proxy-server KeepAlive EnforcementPolicy mismatch"
https://github.com/kubernetes-sigs/apiserver-network-proxy/pull/279/files added a konnectivity-agent use of KeepAlive [1], meaning if it doesn't see any activity for in the configured window (default 1 hour) it will send a KeepAlive ping to the server. The agent also sets PermitWithoutStream to true, meaning it will send a KeepAlive even if there aren't any active rpc streams.

On the proxy-server

[2022-08-22 14:50] rata commented on #383
@tallclair I'm not sure if that would really help and it _might_ hurt for long lived connections or need to close connections going through that one? I can't remember, but it might not be as easy (maybe it is, though!)

For example, that didn't help for any of the two leaks in  #276. It didn't help for some other leaks either IIRC, and maybe due to the way tunneling is done maybe it is not very li

[2022-08-22 16:47] mihivagyok commented on #261
/remove-lifecycle stale

[2022-08-23 06:49] Iceber commented on #200
@liufen90 Hi, I also encountered this problem, the certificate of kube apiserver(https-test-server) and the certificate of proxy service are different, when I use kubectl, I can't set the certificate of proxy server, how did you deal with this problem?

[2022-08-24 18:25] tallclair commented on #358
I agree that the current approach is problematic. Introducing a new lightweight method makes sense to me, but I'd like someone with more experience on this project to weigh in.

[2022-08-25 12:55] zqzten commented on #358
Good point. I've noticed that there was another rotting issue #273 tracking on this. We may consider that together with this issue.

[2022-08-25 12:57] zqzten commented on #273
/remove-lifecycle rotten

[2022-08-29 01:26] #388 closed

[2022-08-29 01:34] #382 closed

[2022-08-29 16:12] #362 closed

[2022-08-30 00:41] tallclair opened #393 "Flaky Test: TestProxy_ConcurrencyHTTP"
Pretty high rate of failure, but only if the race detector is enabled.

[code]

[2022-08-30 06:03] #379 closed

[2022-08-30 06:03] #393 closed

[2022-08-30 12:30] jnummelin opened #394 "Support for multiple server addresses on agent"
The current way of implementing HA setups is bit cumbersome in many cases. When running multiple servers we need to configure each server with proper `--server-count` but the agent can be configured only with one `--proxy-server-host` address. Essentially this **requires** one to have a LB of sorts in front of the servers. While this is not really an issue on cloud envs with ELBs and such at dispo

[2022-09-05 05:47] ipochi commented on #372
@cheftako

Since the go modules are updated and trivy not reporting any vulnerabilities in the latest master, coupled with other important PRs have been merged since the v0.0.32 tag, might we consider releasing a new tag ?

[2022-09-05 13:59] rata commented on #338
/remove-lifecycle stale

[2022-09-09 18:52] ipochi commented on #372
Friendly ping.

@cheftako Your thoughts ?

[2022-09-11 16:50] #352 closed

[2022-09-16 21:08] tallclair opened #403 "Frontend closing leaks connection"
If the frontend proxy connection is closed after the connection is established (DIAL_RSP received), but before the frontend sends any data packets, then the backend connection would be leaked:

In `serveRecvFrontend`, when the receive loop exits, the function attempts to send a close request to the backend: https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/b5e5436b2fbeaa03657ff2381ce

[2022-09-16 21:17] tallclair opened #404 "DIAL_CLS / DIAL_RSP race leading to connection leak"
There could be a race condition where a `DIAL_CLS` packet from the frontend is received at the same time as a `DIAL_RSP` from the backend that could lead to the backend connection being leaked:

This could happen if the following conditions happen in this order:

1. DIAL_RSP received from the backend
2. The pending dial is still present in https://github.com/kubernetes-sigs/apiserver-network-proxy

[2022-09-17 06:08] amolmote opened #406 "Path of cheat sheet need to update"
## Bug Report
*Problem*
[This page ](https://github.com/kubernetes-sigs/apiserver-network-proxy/blob/master/CONTRIBUTING.md) has one broken link of `contributor cheat sheet` which needs to fix.

*solution*
need to locate the correct path of README.

/assign
/kind bug
/kind documentation

[2022-09-19 13:13] #354 closed

[2022-09-19 17:16] tallclair commented on #403
/assign

[2022-09-20 00:49] #406 closed

[2022-09-22 05:37] cheftako commented on #355
/remove-lifecycle rotten

[2022-09-22 10:04] ipochi commented on #372
@cheftako friendly ping.

[2022-10-03 10:35] mcginne commented on #236
/remove-lifecycle stale

[2022-10-05 18:21] tallclair opened #410 "Improve post-dial instrumentation"
We've added a lot of instrumentation around dials, but we have very little instrumentation once the connection is established. Some ideas for metrics to add:

- [x] Total data packet counts in each direction (rate is the metric we care about)
- [ ] Per-connection packet counts (histogram)
- [ ] Connection lifespan (histogram)
- [x] Packet send failure count
- [ ] Connection close instrumentation,

[2022-10-05 18:50] tallclair opened #411 "[FR] Consider dial protocol tracing"
It would be cool to have tracing on the initial dial request, but I think this would require a protocol-level enhancement to `DialResponse` (grpc).

The initial flow (happy path) looks like:
[code]
It would be great to have latency information for each hop. In other words, something like:

1. Server records `dial_req received` timestamp (and server ID?)
2. Agent records `dial_req received` timesta

[2022-10-07 18:24] ipochi commented on #372
@cheftako friendly ping.

[2022-10-18 19:09] ipochi opened #412 "Have a rule in the release process to check for CVE's before releasing a new tag."
I'd like to bring to attention a concern that we must have a rule to check for CVE's before releasing a new tag.

Example:
I created a PR #381 in order to patch existing CVE's #372 , however by the time v0.0.33 was released new vuln's had crept in.

I think it would be a nice point to have in the checklist when releasing the tag.

/cc @cheftako

[2022-10-30 15:42] rtheis commented on #180
/remove-lifecycle stale

[2022-10-31 20:25] jkh52 commented on #412
/assign @cheftako

[2022-11-01 16:34] tallclair commented on #366
/remove-lifecycle stale

[2022-11-07 18:57] jkh52 commented on #350
/remove-lifecycle rotten

[2022-11-10 08:33] #161 closed

[2022-11-11 18:58] tallclair commented on #177
/reopen
/lifecycle frozen

[2022-11-11 19:03] tallclair commented on #180
/lifecycle frozen

[2022-11-12 16:08] #319 closed

[2022-11-19 16:43] timoreimann commented on #171
/reopen